[2017-06-11 20:06] #131 closed

[2017-06-11 20:20] y20k commented on #129
Hi @gerroon from the couple of issues you opened here I get the impression that we have different visions for what Transistor should be.

I considered adding a "Play in Transistor" option in addition to the exiting "Add to Transistor". This would open Transistor up to be a universal m3u-Stream player. But as I said earlier: I think that role can be filled better and way more competent by VLC.

Tra

[2017-06-11 20:20] #129 closed

[2017-06-11 20:36] y20k commented on #124
Transistor already has a method to read PLS files. This method is used when downloading a file from the network or when opening it on device. Transistor then automatically imports the station and puts it as an M3U in the Collection folder.

I theory I could re-use that method to implement your feature request. But reading would not be enough for your scenario. In case the user wants to rename a st

[2017-06-11 20:36] #124 closed

[2017-06-11 20:38] y20k commented on #74
One year - no activity on my part. I guess DataSaver is not a feature I am too concerned with :-)

Time to close this issue.

[2017-06-11 20:38] #74 closed

[2017-06-11 20:46] y20k commented on #126
Hi.

I thought about your suggestion. **Import/export is a good feature** that would be in the general spirit of the app. The only thing that I have against the idea is the limited time I have to spare for Transistor. It's a hobby project and there a more pressing issues to solve.

So I will close this issue. I do not see myself implementing the feature in the foreseeable future. I will keep your

[2017-06-11 20:56] PeKaBo opened #139 "GUI shows multiple active livestreams"
- start a fresh instance of Transistor
- select the first item (livestream) to play and press the play button on the next screen
- go back to the main screen
- select the second item (livestream) to show the next screen: you will see a play button
- go back to the main screen
- select again the second item (livestream) again to show the next screen: you will see a **stop** button!
- press the Andr

[2017-06-11 20:56] jfml commented on #126
Hiya, thanks for the explanation and keep up the good work! ^__^

[2017-06-11 21:07] y20k commented on #97
By the way: AAC should work now. See #137.

[2017-06-11 21:07] y20k commented on #19
By the way: AAC should work now. See #137.

[2017-06-17 09:29] y20k commented on #139
I did look into it. The problem is my sloppy code that decides the UI state of the Now Playing screen (stopped, loading, playing). The code is closer to guessing the state than knowing it. There is maybe an easy short-term fix for that. But I think the app need better awareness of its state.

My plan for now is to try to make the [CollectionAdapter](https://github.com/y20k/transistor/blob/master/a

[2017-06-17 09:47] y20k commented on #137
issue should be addressed in [v2.2.6](https://github.com/y20k/transistor/releases/tag/v2.2.6) ...

[2017-06-17 09:47] #137 closed

[2017-06-17 09:47] y20k commented on #132
the resume bug should be addressed in [v2.2.6](https://github.com/y20k/transistor/releases/tag/v2.2.6) ...

[2017-06-17 09:47] #132 closed

[2017-06-18 15:47] JonnyTech opened #140 "Error, please delete"

[2017-06-18 16:13] #140 closed

[2017-06-26 12:02] poet-man opened #141 "Small interuptions (not an "issue" really)"
Hope my English is understandable ......
What I see, are small interuptions of my stream, when I get transistor from minimalized status on my samsung tablet. It stops for a second, and goes on streaming.
Not something, I could not live with, in order to have a minimalistic app. Just an information, about an "issue" I run into.

[2017-06-28 10:21] kopmazfirat opened #142 "Hard coded stations?"
I want to hardcode 2 stations, however i am not able to do that. Could you please help me about this?

What is the best and easiest way to do that.

Thanks for your time.

Have a good one.

[2017-06-29 20:12] y20k commented on #142
Hi there. I am on vacation right now. I will look into this issue probably next week. Hope that is not too late. Best regards.

[2017-06-29 20:13] y20k commented on #141
Hi there. I am on vacation right now. I will look into this issue probably next week. Best regards.

[2017-06-30 06:09] poet-man commented on #141
Guten morgen. Ich schrieb auf Englisch, weil das dort gängige Sprache scheint.
Werde das hier nochmal im Detail auf Deutsch beschreiben. Ist eindeutiger
und fällt leichter.

Am 29. Juni 2017 22:13:40 schrieb y20k <notifications@github.com>:

[2017-07-01 07:25] poet-man commented on #141
Hallo,

ich versuch das mal zu beschreiben. Ev. muss man damit leben, weil
(minimalistisch) so gewollt und wäre auch kein Problem:
1) Stream läuft, ich drücke den Home-Button, um was anderes zu machen
(Stream läuft weiter .... alles ok). Tab auf den Taskmanager (wie ich das
nenne), also die geöffneten Apps links neben der Hometaste, zeigt mir auch
die Transistor-App an. Tab auf diese, unterbricht

[2017-07-01 07:30] poet-man commented on #141
..... ah ja, noch was .....
auf meinem Samsung Tablet mit Nougat kann ich über den Taskbutton alle Apps
auf einen Schlag beenden (da steht dann "alle beenden") Tab da drauf, und
alle Apps sind geschlossen. Alle, bis auf Transistor. Die App ist dort
nicht mehr vorhanden, Stream läuft aber weiter.

Am 29. Juni 2017 22:13:40 schrieb y20k <notifications@github.com>:

[2017-07-05 10:57] kopmazfirat commented on #142
There is no need to worry. Have a good vacation!

Best regards.

[2017-07-06 09:55] y20k commented on #142
Hi there,

we had a similar discussion a while ago. See this [discussion](https://github.com/y20k/transistor/issues/68#issuecomment-216111695) here.

A clean way (not the cleanest - but a way with not a lot to code) would be track the fist time launch of the app via `SharedPreferences`. ... and on first launch write the m3u and png files necessary to the "Collection" folder (get this folder via Tr

[2017-07-06 10:01] y20k commented on #141
What happens, when you tap `Alle Beenden` when you are playing back some music with the mp3 app of your choice? Does the music stop?

[2017-07-06 10:18] poet-man commented on #141
I tried with the built in music app. When I tab on "alle beenden" the app
closes, but the music goes on. I have to close it in the messages to stop
music. Seems to be a general behaviour.

Am 6. Juli 2017 12:01:17 schrieb y20k <notifications@github.com>:

[2017-07-06 12:13] poet-man commented on #141
Thanks for that!
I agree that it is a common misunderstanding, that App Switcher holds
currently running apps. I think, that has to do with that button "alle
beenden" (close all), which (in German) suggests, that running apps will be
closed.
For test purposes I again installed "audials radio player", which I used
previous to transistor. If I close all in App Switcher, stream goes on
there, too. Me

[2017-07-15 16:45] poet-man opened #143 "Stream changes, when transistor comes up from recently used apps"
Maybe, somebody knows how to avoid? Thanks.
1) Open transistor app via shortcut for a stream (lets give it the name "stream1").
2) After some time, stream2 is chosen/started manually in main window of transistor app.
3) Press home-button on tablet to get to home screen, in order to use any app.
4) After finishing these actions, transistor is reactivated from recently used apps.
5) Transistor autom

[2017-07-17 07:26] y20k commented on #142
Closing this one. Hope I could help you.

[2017-07-17 07:26] #142 closed

[2017-07-17 07:35] y20k commented on #143
Hi there,

thanks for the bug-report!

I think / I hope, I know what is happening behind the scenes.

What a shortcut does, is: it is asking the system to start the app with a given set of parameters (the so called intent EXTRAs) - this case URL of station and startPlayback = true.

The task switcher is probably storing the intent and its EXTRAs to recreate the experience. I somehow need to remove

[2017-07-17 07:41] y20k commented on #121
I am closing this issue since I do not know how to get the bit rate from the stream without computing it myself. But I will keep a reference to this in the [Previous discussions and feature requests](https://github.com/y20k/transistor/issues/48) list. Maybe someone has an idea.

[2017-07-17 09:49] poet-man commented on #143
interesting to get to know, what happens. Thanks for that.

Am 17. Juli 2017 9:35:11 vorm. schrieb y20k <notifications@github.com>:

[2017-07-19 21:03] FionaHagen commented on #121
Do you have an idea @ojw28?

[2017-07-19 21:50] ojw28 commented on #121
We only expose bitrate information in cases where it's explicitly provided to us either in a manifest file (for DASH, SmoothStreaming and HLS adaptive playbacks), or in the media container (although there are likely cases where we could propagate the bitrate but don't in this case).

[2017-07-21 07:36] FionaHagen commented on #121
OK, thanks for your input @ojw28 🙂

[2017-07-30 20:26] Wiredframe opened #144 "Add more sleeptimer options"
Would be awesome to be able to select the amount of minutes in the sleeptimer.

[2017-07-30 20:27] Wiredframe opened #145 "Option to remove the station image (was: Add option to disable lockscreen cover)"
Being able to disable the lockscreen cover would be nice since the images aren't that great anyway.

[2017-07-30 20:28] Wiredframe commented on #145
Also adding an option to remove the image and replace it with a standard play or note icon would be nice.

[2017-08-06 16:29] ikocevski opened #146 "Opus issue."
Opus streams won't load on Android 4.4.4. When I press play the status goes to yellow and it says loading stream to no avail. Pasting the same station link in VLC however does play, and aac streams do play so I guess it's the way Opus is implemented.

[2017-08-06 20:32] y20k commented on #146
Hi there, thanks for reporting this!! Can you post an Opus URL that is not working for you? Opus should be supported by the audio playback library that Transistor uses (ExoPlayer). I would like to check what kind of error message I get, when I turn on the debugger while trying to play back Opus.

[2017-08-06 20:50] y20k commented on #145
Hi there,

Thanks for posting your feature requests here!! I have thought about it. I think I am not going to introduce a setting for disabling the lockscreen cover. There are two "reasons" for that.

**First:** I do not want to introduce any settings in Transistor ;-)

**Second:** Given my opinion on settings for Transistor, I could consider killing the lockscreen feature completely. **I agree**

[2017-08-06 20:54] y20k commented on #145
That is an option that I could implement. I will leave this issue open. Lets see. I need to think about it.

In the meantime: I you really dislike the Station icon, you can delete its PNG file in the folder `Android/data/org.y20k.transistor/files/Collection`

[2017-08-06 21:04] y20k commented on #144
I wanted to keep the user interface for the sleeptimer as simple as possible. That is why I decided on a fixed length for the initial sleep timer of 15 minutes. If you tap the icon a second time another 15 minutes should be added. This way you can set the sleep timer to 15, 30, 45  etc.

[2017-08-07 14:10] ikocevski commented on #146
http://dir.xiph.org/listen/145058/listen.m3u

This is the link I tried.

Log made with MatLog in Verbose mode:
[2017-08-07-16-08-12.txt](https://github.com/y20k/transistor/files/1205060/2017-08-07-16-08-12.txt)

[2017-08-10 12:52] y20k commented on #146
Thanks. I fired up an Emulator and I can confirm that the stream you provided does not work in Andoid 4.4. I works in newer versions of Android though.

Here is my explanation:

Transistor relies on ExoPlayer for decoding and playback. ExoPlayer in turn relies on the built-in media decoders of the Android platform. See [sample-formats](https://google.github.io/ExoPlayer/supported-formats.html#samp

[2017-08-11 19:41] ikocevski commented on #146
@y20k Thank you for looking into this. If it's too tedious to implement it, don't bother. There aren't that many OPUS streams anyway and backward compatibility is what  keeps us using these devices I must admit 😁

[2017-08-15 08:34] y20k commented on #143
Hi there,
unless I did something wrong when following your instructions, I think / I hope that the current version of Transistor fixed this bug.
Feel free to re-open this Issue, if the bug still persists.
Best regards

[2017-08-15 08:34] #143 closed

[2017-08-15 08:43] y20k commented on #139
Okay. I finished the above mentioned transition of Transistors backend to ViewModel/LiveData. Yay. As far as I can see this bug is fixed. At least on my phone :-) Feel free to reopen this Issue, if there are still problems.

[2017-08-15 08:43] #139 closed

[2017-08-16 17:06] ikocevski commented on #136
Hey, I made some buttons in Inkscape (SVG), I'd like you to check them out.

The whole idea is that these buttons are very radio/retro cassette player type (IMO suitable for Transistor):
When a user presses play, the button stays down (showing the stop button). When a user presses previous or next the button jumps back to it's position. Just like old cassette players, of course with material desig

[2017-08-16 19:10] y20k commented on #136
Hi @ikocevski ,

Thanks for your designs! **I like the idea of giving the app a look that is slightly more retro.** The basic shape of the buttons remind me of an old Walkman or cassette recorder, which is really great 😄.

I still lack a vision for a new playback screen on a conceptual level. So to be honest I do not have immediate use for your designs ☹️.

I am not a designer, so you can take the

[2017-08-16 22:29] ikocevski commented on #136
@y20k

Can't agree with that, we have to start from somewhere! ;)

Yes, you're right, I know material design just from looking at it but my buttons turned out to lack elements of it. After reading a bit I think I should add a 1px "thickness" to the elements and a slight shadow. Also, a sudden animation isn't really material like I made it here, but I don't know how an animation is coded and what g

[2017-08-21 10:02] y20k commented on #136
My point was: No need to polish any buttons, if we are not sure which buttons we actually need, and how many buttons we will need, and what the spacial placement of those buttons would be like. Those factors could all affect the final design.

[2017-08-25 08:27] CryptOwl opened #147 "Kooks/2.3.x on F-Droid"
It doesn't look like the latest releases haven't been flagged for F-Droid.
https://f-droid.org/wiki/page/org.y20k.transistor

Would like to see the latest releases on F-Droid again.

[2017-08-27 18:32] y20k commented on #147
Thanks for the hint. I asked them to update the app manually. There was a problem with the way Transistor stores its version number and version name.

See [F-Droid issue tracker](https://gitlab.com/fdroid/fdroiddata/issues/855)

[2017-08-27 18:32] #147 closed

[2017-08-28 12:04] y20k commented on #112
I need to preface this: This feature is still far away from being finished. I just wanted to let you know that from time to time I am working on it.

So last week I spent several hours on Android Auto and I got some of the interface elements working (see screenshots). That is progress compared to the last time I tried it.

![2017-08-28-13 30 34](https://user-images.githubusercontent.com/9103935/29

[2017-08-28 12:55] y20k commented on #147
Turns out that I forgot to upload a couple of files when I updated the ExoPlayer library. F-Droid was not able to build the app. I cannot change that retrospectively. But I published a new version of the app today. That version should find its way into F-Droid automatically.

[2017-08-30 10:32] y20k opened #148 "Testers for Android Auto support wanted"
One of the upcoming releases of Transistor will feature basic support for [Android Auto](https://www.android.com/auto/).

My problem is: I do not have a car. So if **anyone with an actual Android Auto equipped car** wants to test the new feature... here is an APK:

## Download

* [transistor-app-test-2.3.4-01.apk](https://www.dropbox.com/s/tqemseij9b9k3kt/transistor-app-test-2.3.4-01.apk?dl=0) (ba

[2017-08-30 10:38] y20k commented on #112
Turns out that I already was very close when I wrote the last post two days ago. Today I got playback and browsing running in the [Android Auto App](https://play.google.com/store/apps/details?id=com.google.android.projection.gearhead&utm_source=adc) on my phone.

I opened a new issue (#148) because I need testers for the feature who have a car.

I will will close this issue. Discussion about this

[2017-08-30 10:38] #112 closed

[2017-08-30 11:38] calipzo opened #149 "Crash on fast multiple clicks on Play/Stop button"
Steps to reproduce:

1. Open App.
2. Add URL with stream.
3. Open station.
4. Do multiple **fast** clicks on Play/Stop button.

Tested on 3 real devices (Android 7, Android 7.1.1, Android 6) and official Android Emulator virtual device with Andorid 7.1.1. Tested on compiled latest source and at least 5 previous commits (plus Google Play version).

![device-2017-08-30-141904](https://user-images.gi

[2017-08-30 12:01] y20k commented on #149
Thx. I will look into this.

[2017-09-01 16:44] nikoss opened #150 "big volume knob (request)"
___

(you can skip this part)

Some brainstorming on the subject.

Let's say I am listening to radio,  with Transistor on the background, and then choose to  play a video on the Youtube. Transistor will stop, the video will be playing, and the first thing I will have to do is adjust the volume on my phone.

Then, if I want to stop the video and wish to go back to listening to the radio, with Trans

[2017-09-02 09:49] erwanj opened #151 "issue with the following streams"
I can't add the 2 following streams  :
aspen : http://playerservices.streamtheworld.com/api/livestream-redirect/ASPENAAC
rock & pop : http://blaster.cdn.sion.com:1935/rockandpop/audioweb/playlist.m3u8

Is it something that can be easily fixed?

Thank you for the great app

[2017-09-04 08:59] y20k commented on #151
**Aspen** is an MPEG stream which advertised with the MIME tyoe `application/flv`. The stream seems to be wrong configured server-side. Sometimes streaming servers are configured wrongly - see for example [Issue 124](https://github.com/y20k/transistor/issues/124#issuecomment-299831920). Transistor always performs a MIME type check before starting playback. I do not want to remove that. So the only

[2017-09-04 10:52] y20k commented on #150
Hi there.

Thank you for sharing your idea. I think a possible volume control should be part of a broader discussion about the Now Playing screen. I will reference to your suggestion in the issue [Make "Now Playing" screen more modern and info-focused](https://github.com/y20k/transistor/issues/136).

And i will close this issue.

I am very open to retro ideas 🚀 - we should discuss if this is a nec

[2017-09-04 10:52] #150 closed

[2017-09-04 10:55] y20k commented on #136
I would like to add an idea from @nikoss to the discusssion. He suggests that Transistor could implement a **[big volume knob (request)](https://github.com/y20k/transistor/issues/150)**.

[2017-09-04 10:59] y20k commented on #144
I still think that the 15 minute sleep timer with the option do add another 15 minutes is a good solution for a simple app like Transistor.

[2017-09-04 10:59] #144 closed

[2017-09-04 11:02] y20k commented on #146
To be honest. I think "Opus on 4.4." is too much of an edge case. Sorry. I am closing this issue for now.

[2017-09-04 11:02] #146 closed

[2017-09-04 12:47] franciscot opened #153 "Translating the phrase "URL" - suggestions wanted"
Please, Can you change the tecnical name "URL" for "link" or similar? (more understandable)

Thanks.

[2017-09-04 14:10] y20k commented on #153
I am not a native speaker. I think "streaming link" is maybe a good alternative -> see [commit](https://github.com/y20k/transistor/commit/2b5e11b3ac8cfa6b9dbfed549ab0ec545549e623)

[2017-09-04 14:25] y20k commented on #151
HLS-streams link the **Rock and Pop** one can now be added via the Transistor UI. See [commit](https://github.com/y20k/transistor/commit/5c6fae90d2070dec79245f01b8940fa359c00154).

Thanks again for pointing me to this issue!! This feature / bug fix will be in the next release of the app.

I won't be able to make Transistor work with links like **Aspen** though. Sorry.

[2017-09-04 14:25] #151 closed

[2017-09-04 14:30] y20k commented on #149
can you paste the link of the station that produced the crash on your system? thx

[2017-09-04 17:05] c00ller commented on #148
Hi y20k, great to see that you've got it integrated in the Android Auto phone app! Sorry, but my car doesn't have an official Android Auto supported screen, so I can't test that out. Anyway, I tried downloading the test apk, which from the name says it should be version 2.3.4. I downloaded it and installed it, but the app version still says 2.3. Is this right? Also, when I opened Android Auto on m

[2017-09-04 18:32] franciscot commented on #153
Looks good for me. English is not my fisrt language, maybe some native speaker could help us.

[2017-09-04 18:36] calipzo commented on #149
Please try this:
http://stream.radio.co/s4360dbc20/low

[2017-09-05 10:22] y20k commented on #148
You would need to activate **Unknown Sources** within the Auto app. I updated the Issue description above.

see also: [Testing apps for phone screen](https://developer.android.com/training/auto/testing/index.html#phone)

[2017-09-05 13:11] nikoss commented on #136
Some tests...

----
(the info icon and the led light are combined)
![interface_002](https://user-images.githubusercontent.com/4921343/30062275-44d88ac0-9253-11e7-9fcc-74bd54f275c0.png)

![volume_button_explanation](https://user-images.githubusercontent.com/4921343/30062281-4d9bf250-9253-11e7-9c89-34676c553dc7.png)

The white dot indicates 50% of volume. But, if users seem to prefer something like

[2017-09-05 13:51] nikoss commented on #136
And another way to think about it, is to use different dialog windows.

Here are a couple more LibreOffice drawings...

----

![interface_004](https://user-images.githubusercontent.com/4921343/30064393-42c36f0a-925a-11e7-9948-37612b7f2b38.png)

![interface_005](https://user-images.githubusercontent.com/4921343/30064421-5ebb18b6-925a-11e7-82a3-94030e4fc816.png)

[2017-09-05 14:17] nikoss commented on #136
And this is another test.

The led has separated from the information button.

![interface_006](https://user-images.githubusercontent.com/4921343/30065564-fdd9f2d4-925d-11e7-8dfc-9c0697e5faf1.png)

[2017-09-06 14:53] Cormak commented on #136
I don't think a "volume page" is necessary. Most people won't care about it when they have the volume rocker or headphone volume control. I think we need to focus on the information displayed on the playback screen. People want lots of information, station art, a quick way to copy the name of the song playing, etc.

[2017-09-07 04:38] nikoss commented on #136
@Cormak

I don't think that you have read the "big volume knob (request)" link. In any case, people might not need the volume control, if listening to radio, through Transistor, is all that they do. But for me, in most cases, Transistor plays in the background while browsing, reading the news, watching videos, etc. Having to constantly re-adjust the volume is an annoyance.

What exactly informatio

[2017-09-07 06:56] Cormak commented on #136
@nikoss I envision a player that looks similar to other audio players but is geared more towards radio.

I would want a nicely centered station image, with the station name displayed under it. Artist and Song name under that. The codec type, bitrate and kHz under that. Play button under that. Total time played under that.

At the top right corner of the now playing page, a share button that sends

[2017-09-09 20:53] nikoss commented on #136
@Cormak

Ok, I see, now. This is the opposite of minimalism, though. Me, on the other hand, I like the fact that Transistor has one button on the front. It's a "back to basics" approach. It has more of a punch. Your approach is a more "stylish" one.

Anyways, it's up to the developers to consider the options.

[2017-09-09 21:54] nikoss commented on #136
Some inspiration:

https://youtu.be/xedieqkviRw?t=1m4s

https://previews.123rf.com/images/akud/akud1411/akud141100014/34004024-Old-analog-control-knob-on-wooden-table-Stock-Photo.jpg

[2017-09-10 11:26] pejakm opened #154 "Add support for NextCloud Radio plugin"
Info here: https://git.project-insanity.org/onny/nextcloud-app-radio

[2017-09-11 08:28] y20k commented on #154
Hi there,

I am not sure what exactly you are suggesting.

I guess you would like to use the radio stations from your NextCloud Radio somehow in Transistor, too. Be it in form of a sync feature or in form of an Import/Export feature.

My initial comment on this would be:
* **Sync** -> probably not going to happen, sync is hard to get right and error prone
* **Import/Export** -> maybe... depends on

[2017-09-11 08:34] y20k commented on #149
Thanks. I cannot reproduce a crash on my device. But the Transistor UI becomes unresponsive when I rapidly tap on the play button. I guess your crash and the unresponsive UI are caused by the same problem. I think I know what to do change that.

[2017-10-03 17:54] CodingFrieda commented on #121
What do you think of adding the [label:hacktoberfest](https://hacktoberfest.digitalocean.com/) @y20k?

[2017-10-05 08:08] AhmedNazir opened #155 "Add an option for Backup"
After collecting some good stream url,I am disappointed. There is no backup option.What happened if something goes wrong. Should I again add  stream url one by one and rename it..

thanks for creating such a useful app. but add a backup option so that we can recover all url with edited name.
Thanks again......

[2017-10-06 14:15] y20k commented on #155
Hi there and thanks for liking the app :-) ,

the Import/Export feature was requested before. See #126.

Transistor implements [Auto Backup](https://developer.android.com/guide/topics/data/autobackup.html). Auto Backup should take care of restoring your stations. To be honest I do not trust the Auto Backup system completely. I personally always make a copy of the directory `/Android/data/org.y20k.

[2017-10-06 14:33] y20k commented on #121
Good idea. Lets give it a try. Thanks.

[2017-10-06 14:39] y20k commented on #155
I am probably not going to implement this feature in the near future. But I put it into [CONTRIBUTING.md](https://github.com/y20k/transistor/blob/master/CONTRIBUTING.md) and in [Previous discussions and feature requests](https://github.com/y20k/transistor/issues/48) to encourage an external contribution.

[2017-10-06 14:39] #155 closed

[2017-10-06 14:47] #153 closed

[2017-10-06 15:32] y20k commented on #145
... that is a neat little project for `hacktoberfest`

[2017-10-06 15:38] Wiredframe commented on #145
Then let me add something for the event: Card layout 👍  :D

[2017-10-06 17:34] AhmedNazir commented on #155
I don't believe that adding this option makes complexity.
Adding this option, we can use cloud for storing.

maximum people don't know about auto backup....

making a physical button can help increasing it's productivity....

[2017-10-17 10:59] Wiredframe commented on #136
Transistor doesn't need that screen at all! Just combine both views into the overview list.

Have a look at the Radio.de app to see what I mean (ONLY structure wise, NOT design wise ^^):
![lrgpimngfbybnlym2mhwr8i3vgoammcj1jcrosf6rreptinfymetpan16enna9hzqgex h900](https://user-images.githubusercontent.com/13737875/31661423-e8593318-b33a-11e7-8f93-dc7321f840c5.png)

[2017-10-17 11:11] Wiredframe commented on #136
Just made a quick mockup of what it could look like:
![transistor](https://user-images.githubusercontent.com/13737875/31661915-bdeed2ca-b33c-11e7-9d5a-ad0662a23193.png)

[2017-10-17 12:13] Cormak commented on #136
@Wiredframe wins for best design so far. I would like something more info dense, but that is a massive improvement over the current player.

[2017-10-27 08:30] y20k commented on #136
I think the recent design suggestions are pretty good 👍.

I like the fact that it would help to get rid of the entire Now Playing screen - making the app possibly more simple. There are a few challenges left though, namely landscape view and tablet version.

[2017-10-27 08:43] Wiredframe commented on #136
Thanks :) I'd suggest you could just place the red now-playing part on the left side in those views. Important: Please keep the "copy currently played song title" option.

[2017-10-27 09:30] y20k commented on #136
note to self: just found a nice animated button for that view

[FloatingMusicActionButton](https://medium.com/@timrijckaert/play-pause-stop-animated-vector-drawable-88a9df956d20)

[2017-11-06 12:54] y20k commented on #126
hacktoberfest did not help here. I am closing this issue again. I will remain in [Previous discussions and feature requests](https://github.com/y20k/transistor/issues/48).

[2017-11-06 12:56] y20k commented on #121
hacktoberfest did not help here. I am closing this issue again. It will remain in [Previous discussions and feature requests](https://github.com/y20k/transistor/issues/48).

[2017-11-06 12:57] y20k commented on #89
hacktoberfest did not help here. I am closing this issue again. It will remain in [Previous discussions and feature requests](https://github.com/y20k/transistor/issues/48).

[2017-11-06 17:30] y20k commented on #136
I am fiddling around with CoordinatorLayout (see [Mastering the Coordinator Layout](https://saulmm.github.io/mastering-coordinator)] and [FloatingMusicActionButton](https://medium.com/@timrijckaert/play-pause-stop-animated-vector-drawable-88a9df956d20). I think I will go for the suggested In-Line-Player that has an expanded and a condensed view. Scrolling and tapping will show/hide the expanded vi

[2017-11-06 17:41] Wiredframe commented on #136
Lovely! I'm happy to see that my most used app is getting a visual update :) If you need a beta tester, just send me the apk 👍

[2017-11-10 16:43] y20k commented on #136
I did experiment a little with an expanding player on top of the list of radio stations. After a "using" it while the layout seemed to me a bit top-heavy. Plus: the playback controls are harder to reach on those new fancy large phones.

So my next experiment is a good old mini player at the bottom end of the screen. Here is what the app would kind of look like. I need to run with this for a couple

[2017-11-10 17:56] Wiredframe commented on #136
Absolutely agree, should have thought about it sooner! Good luck :)

[2017-11-11 06:44] Cormak commented on #136
@y20k Will the mini player expand into a fullscreen player with info? It would be great to have that with the following info:

- Station and icon.

- Artist and title

- Codec, Bitrate, khz (this kind of detail appeals to codec nerds who want to know exactly what kind of format the station plays, and there's a lot of us out there.)

- Session playtime

I know you said earlier that all that info is

[2017-11-11 14:55] y20k commented on #136
My plan is to use a [persistent bottom sheet](https://material.io/guidelines/components/bottom-sheets.html#bottom-sheets-persistent-bottom-sheets) where the persistent parts the playback controler. The bottom sheet can expand to reveal more info, like URL, MIME type etc.

[2017-11-11 16:29] y20k commented on #136
I envision the bottom sheet player to look something like this ... (probably two-colored to set the player apart from the details section)

![2017-11-11 17 21 44](https://user-images.githubusercontent.com/9103935/32691279-6613ee96-c705-11e7-84e6-98872bbb858d.jpg) ![2017-11-11 17 22 34](https://user-images.githubusercontent.com/9103935/32691280-662a155e-c705-11e7-9b40-51027f2b86bf.jpg)

The new lay

[2017-11-12 10:25] Cormak commented on #136
@y20k That's actually a perfect idea. The design is almost perfect. However, you should consolidate that information so that the detail page looks less empty.

See all the red space on the right of the list of mime type, channel count, and sample rate? That seems like a lot of red empty space that could be filled in.

Under streaming URL, I would suggest putting

- Codec, bitrate, channel count an

[2017-11-12 18:50] y20k commented on #136
My plan is to put that functionality in an additional last row of the station list.

[2017-11-17 16:32] y20k commented on #136
A short design update: This is the current prototype I am working on. I probably still need to tweak the margins a little. Right now I am implementing the basic playback controls. Editing stations and the new add station button are the next features. Session playtime will be added in an upcoming point-release.

The whole thing may take some time, since I only have time to work on this in my free t

[2017-11-17 22:18] Cormak commented on #136
Nice work, @y20k

I think you're pretty much done. My only constructive criticism is to slide the channel count/bitrate column over to the left closer to the mime type/sample rate column. Not too close, but not so extremely far to the right like it is now.

Looking forward to trying out your new design!

[2017-11-21 08:13] AhmedNazir opened #156 "[request] option for Download/record"
It is known, transistor app is a useful app.

But I think, it will be more productive if it has a Download/Recording option.

Thanks for creating this app. I wish, you will consider this request.

[2017-11-21 21:16] y20k commented on #156
👍

I would like to have that feature, too. It would be great to be able to record a radio show that I often miss because it runs late at night.

But adding such a feature would make the app way more complex. Think of all the new screen that Transistor would need to get:

- a tab that holds the recording schedules
- a date and time (start&end) picker with the option to make a schedule recurring
- a

[2017-11-22 00:32] Cormak commented on #156
Since @y20k says Transistor probably won't get the feature, I'd like to recommend this project.

https://github.com/segler-alex/RadioDroid

I prefer the simplicity of Transistor because I can just paste in the few stations I listen to instead of relying on the radio-browser wiki, but this will let you record streams.

[2017-11-22 12:56] #156 closed

[2017-11-29 14:07] y20k commented on #136
Hi there.

As far as I can see the new app layout is almost ready to release. I am now beginning to test it for inconsistencies and bugs. I ran the app on my phone over the last couple of days without crashes etc, but I am still finding little things. My plan is to release before the end of the year.

If anyone of you has the time, please grab a test-APK and give it a try.

[transistor-app-test-3.

[2017-11-29 14:08] #154 closed

[2017-11-29 14:11] y20k commented on #148
The current Play Store version has Auto support. No need to keep this issue here open.

[2017-11-29 14:11] #148 closed

[2017-11-29 14:14] y20k commented on #145
hacktoberfest came and went by. I am closing this issue. The "option to remove the image" is not planned for the foreseeable future.

[2017-11-29 14:14] #145 closed

[2017-11-29 14:32] Wiredframe commented on #136
Awesome work! Thanks for sharing the apk too! As always my two cents with my suggestions.
It would be more consistent (and better readable) if the mini player text would be in line with the entries above. You could also consider of getting rid of the swipe indicator completely. People are now used to interations without indicators being visible.

I really like the new version. 👍

[2017-11-29 15:21] Cormak commented on #136
@y20k nice progress so far. Here's my suggestions after using the apk for 15 min on my favorite stations:

1. The swipe indicator seems unnecessary. Lots of players already have a miniplayer at the bottom so people intuitively know what to do with it.

1. With the swipe indicator gone, you should allow people to tap to open the player, along with the tap to close, swipe to close and and swipe to o

[2017-11-29 15:35] Wiredframe commented on #136
I'd suggest making the mini player the same height as the list entry. Also the play / pause button doesn't really need a background color or shadow in my opinion.

[2017-11-29 19:20] y20k commented on #136
@Wiredframe @Cormak Thanks for the VERY good feedback. It is super helpful to have a different perspective on the matter. I will see what I can do (and want to do) to change the app. I think all / most of the suggestions would make Transistor better. Stay tuned. (And be patient) :-)

[2017-11-29 20:18] Wiredframe commented on #136
Thank YOU for one of my favorite and most used app. 👍

[2017-11-29 20:38] y20k commented on #136
Since I had time off this evening, I did address some of the suggestions.

* expand/minimize indicator is now hidden (just a test - let's see if it is missed or not)
* tap anywhere on player now opens the infosheet
* playback indicator in list is now bigger
* refresh stations does not stop playback (that was not an intended behavior)
* add new station has a darker font (probably not the ideal solu

[2017-11-29 20:43] Wiredframe commented on #136
Awesome! Works and looks great!

[2017-11-30 04:28] Cormak commented on #136
@y20k I've had even more time tonight to look at 3.0.0-02 and your improvements are all welcome. Here's what else I've noticed with the extra time I've had to stress test your app.

1. MIME Type isn't very informative. For example, for this station http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-einws Transistor identifies it as "audio/mpeg" but it should be identified as an mp3 stream. mpeg can

[2017-12-01 09:32] y20k commented on #136
Hi @Cormak,

a short background on how and why I have MIME type, Sample rate and Channel count on that screen: This was the result of a suggestion here to add Bitrate to the "old" infosheet (see #121 ) 😄. I am with you: The **most interesting info on that screen would be Bitrate**. But the problem is/was that the audio library that I use only reports MIME type, Sample rate and Channel count. The a

[2017-12-02 02:30] Cormak commented on #136
@y20k Maybe find another open source audio library that already fetches bitrate?

Thanks for looking into the icon issue and the sheet behavior.

[2017-12-02 23:17] 011000110110000101110100 opened #157 "Show more app shortcuts"
Regarding app shortcuts on Android O:
I would love to see not only the option to resume the last station I have played but also other stations I have added previously.

[2017-12-03 19:24] Wiredframe commented on #136
I really have to admit, I miss the title bar. Looks really strange without it. It's the only app I've ever seen without a title bar ^^.

[2017-12-04 17:42] Cormak commented on #136
@Wiredframe I'm still getting used to it too but the fact that we finally have a decent player design makes me happy enough to get used to it.

[2017-12-04 17:44] Wiredframe commented on #136
Absolutely! Don't get me wrong please, the new layout is awesome. I just miss the title bar because I've seen no app that hasn't one.

[2017-12-05 09:39] Cormak commented on #136
@Wiredframe I totally get what you mean. It's weird at first. However, considering how simple this app is, it's reasonable to be that minimalist.

I will say that @y20k should definitely consider making the miniplayer smaller because it makes the whole app look a bit bottom heavy now that the top bar is gone.

[2017-12-05 10:46] y20k commented on #136
Hello best app testers,

I did reduce the size of the mini player as you suggested. Here is an updated APK: [transistor-app-test-3.0.0-03.apk](https://www.dropbox.com/s/wpyhu7zr7ptgqxd/transistor-app-test-3.0.0-03.apk?dl=0)

This is what it looks like.

(I just noticed that now that station name is not vertically centered anymore. I will change that later.)

![2017-12-05 11 37 43](https://user-ima

[2017-12-05 11:14] Wiredframe commented on #136
Looks Great! Thanks!

Btw, I changed my placeholder icon and wanted to share it with you. Maybe you could use it.
[placeholder.zip](https://github.com/y20k/transistor/files/1530902/placeholder.zip)

[2017-12-05 11:50] y20k commented on #136
@Wiredframe

Thanks!! I will consider changing it.

I just switched from the old default icon to a newer one directly from the matarial design library. see: [ic_music_note](https://material.io/icons/#ic_music_note). I kind of like that too.

[2017-12-05 11:51] Wiredframe commented on #136
Even better!

[2017-12-05 11:52] y20k commented on #136
Should I decrease the station icon's margin to the left (currently 16dp) to match it's margin to the top (currently 8dp). Or should I leave it as it is?

[2017-12-05 11:57] Wiredframe commented on #136
Horizontal whitespace between the margin and station title is important. I would leave it as it is. What I'd do is to set the alignment of the text in the mini player to left. You could also consider removing the background of the playback icon completely.

[2017-12-05 12:38] Cormak commented on #136
@y20k Just tried the .03 beta. Looks much better now that the miniplayer is smaller. Glad you spotted the text alignment as I was going to point it out.

I agree with @Wiredframe to leave the margin as is.

[2017-12-06 01:54] Cormak opened #158 "Certain OPUS streams do not show "artist - title" and stop playing on song change"
This is with the latest test .03 beta from https://github.com/y20k/transistor/issues/136

http://stream.xrm.fm/xrm-ele.opus is the problematic link.

The artist -title details load just fine on other players like Foobar2000 and music continues on a song  change.

However, on Transistor, this link never shows the "artist - title" info and just shows "loading stream". Even worse, when the song is fi

[2017-12-06 08:30] y20k commented on #136
Hi there,

I changed the alignment of the text in the mini player from centered to left-aligned. And I compiled two APKs to be able to make a comparison.

My current assessment would be: It maybe a question of individual taste. I kind of like the centered version better, but I can understand if someone else has a different opinion. Anyway here a the two APKs:

**CENTERED**
[transistor-app-test-3.0

[2017-12-06 08:36] y20k commented on #136
Transistor does not crop images to fit a square (or circle). The problem is that images representing a station are often company logos that look weird when cropped. So as a consequence they are often/sometimes in landscape orientation. That is why I put them in a frame. Also the images are often of very poor quality (16px).

So at least for the upcoming release I am staying with a framed station i

[2017-12-06 08:38] y20k commented on #158
Thanks! I will look into this and report back here.

[2017-12-06 08:40] Wiredframe commented on #136
Sorry for the confusion, I was talking about the playback control on the right side. :) Thanks for the two APKs! 👍

[2017-12-06 08:43] y20k commented on #158
I am not able to add the stream to my station library: I tapped on the "add station" button and tried to paste the URL. Transistor complains that the source has not the right mime type.

 How did you add it?

[2017-12-06 08:58] y20k commented on #136
Ah okay. Got it. That button is not my own creation but part of a [library](https://github.com/timrijckaert/FloatingMusicActionButton) I found. I like the animation. I can switch to another button but the playback control would also loose the animation.

The button is an extended version of Google's own [Floating Action Button ](https://material.io/guidelines/components/buttons-floating-action-but

[2017-12-06 09:06] Wiredframe commented on #136
I didn't even notice the animation because I turned them off in the developer settings. Looks great, maybe I'll keep them enabled to enjoy that button 😄

[2017-12-06 09:07] y20k commented on #158
Okay when I add the station via text editor, I can try to start it. I behaves as follows.

- tap on playback button
- button changes state
- app is very shortly in "loading" mode
- an error message pops up
- **button state does NOT change back**

**This is clearly a but. I will try to fix it!**

As to the behavior you described: I don't have much influence on how the media library I use handles st

[2017-12-06 09:08] Cormak commented on #158
@y20k Ok that is so weird. The stream has been taken down between when I posted it and now.

I got it from here: http://stream.xrm.fm/

There were 6 active stations when I posted it but now there's 3.

Anyway, I've just found an alternate link since this bug is so reproducible.

http://ai-radio.org:8000/320.opus has the same behavior as the one I originally posted.

There's something about high qu

[2017-12-06 09:27] Cormak commented on #136
@y20k Centered is definitely better because of the two circular elements on each side.

However, there's something else I notice. When switching from one station to another, the floating action button can get stuck in the stop position, especially on one of my stations. I keep trying to come up with a reproducible set of steps and here's what I have so far.

This is the station I get the button st

[2017-12-06 10:16] Wiredframe commented on #136
I can reproduce it, it happens from time to time.
@y20k BTW, did you change the red color tone in general? It seems that the old version was brighter. I would prefer the old saturated red tone. Also for consistency: What do you think, would the details panel be better if it was white?

[2017-12-06 11:08] Cormak commented on #136
@Wiredframe Thanks for confirming. Also, to toss my opinion in there, I think it would be confusing to make the details panel white because the list is already white. The dark background makes it obvious this is a different kind of function and it contrasts with the list above.

[2017-12-07 10:19] Wiredframe commented on #136
You're right. One thing I noticed is that @y20k was right when he made the panel expand only with a swipe up. I find myself often trying to pause / play but open the panel instead ^^

[2017-12-07 15:16] Cormak commented on #136
@Wiredframe I don't have that issue with any audio player or Transistor. I always hit the button or the player itself. I just wanted it to be congruent with every other player's behavior.

[2017-12-07 15:25] Wiredframe commented on #136
Then I guess I have a bad day 😆

[2017-12-12 12:25] Cormak opened #159 "Transistor keeps running in the background even when not in use"
Hi there, just noticed something in the 3.0.0.4 test apk.

The playerservice keeps running in the background even when I'm not using the app and even when its not in my recents list. I was just looking at my currently running applications and it has been running for 77 hours straight.

It would be great if Transistor would automatically close itself out completely when the window is not in use or

[2017-12-13 08:41] y20k commented on #159
Hi.

Thanks for that observation! I will look deeper into this.

As far I know that behavior is somewhat intended. I entrust the memory and resource management to the operating system. That is for example one of the reasons why Transistor does not have a [Quit Button (Issue 102) ](https://github.com/y20k/transistor/issues/102).

A little background: Starting a service or a part of an app may use u

[2017-12-13 08:44] y20k commented on #158
I can reproduce the bug! Thanks.

I am not sure if I can fix the playback issue (because that could just be a media library bug).

But at least the new UI should reflect the playback state correctly.

[2017-12-13 08:57] y20k commented on #157
Hi there,

thanks for the suggestion!! I thought about it too. It might work, if I use so called [Dynamic Shortcuts](https://developer.android.com/guide/topics/ui/shortcuts.html#dynamic).

The app's behavior would be: Everytime a user starts playback a new shortcut get created.

Do you know if this a common behavior for media apps? I am asking because I want Transistor to behave predictable. I als

[2017-12-14 17:28] VladimirMi commented on #121
Hi @y20k!
You could extract the bitrate from the headers if the stream uses ICY or Icecast protocol.
Considering #136, you can take more information from them, such as the station url and genres, for display on the "Now Playing" screen.
More details [there](https://cast.readme.io/v1.0/docs/icy). I hope this helps.

[2017-12-18 12:03] y20k commented on #121
Hi @VladimirMi

that is a very good approach. Thank you! I will look into it.

[2017-12-19 11:53] 011000110110000101110100 commented on #157
Thank you for answering.
I don't use any other apps featuring app shortcuts (Spotify and AntennaPod), but I think that 3 app shortcuts should be the right amount.

[2017-12-21 10:05] y20k commented on #67
![01-lockscreen-active-v3 0-oneplus5](https://user-images.githubusercontent.com/9103935/34250985-d89e79f6-e63e-11e7-9610-ff7987243841.png)
![03-playback-v3 0-oneplus5](https://user-images.githubusercontent.com/9103935/34250986-d8b6f0bc-e63e-11e7-921a-809aa73a089f.png)
![04-sleeptimer-v3 0-oneplus5](https://user-images.githubusercontent.com/9103935/34250987-d8d03784-e63e-11e7-9edc-1992fd764a39.png)

[2017-12-22 15:20] y20k commented on #136
Hi folks,

the lovely [FloatingMusicActionButton](https://github.com/timrijckaert/FloatingMusicActionButton) caused problems with the Transistor UI that I was not able to solve 😞 ( ==> sometimes the button state did not reflect the app's playback state). I did import the whole library into the project (instead of just linking it in) to be able to make changes to the code myself. Problem is the lib

[2017-12-23 06:30] Cormak commented on #136
@y20k Playback button is definitely more reliable with .05. Thanks for spending all this time to make Transistor feel like a modern player, all while making it even simpler than before.

[2017-12-23 06:32] Cormak commented on #121
@VladimirMi Thanks for helping with this issue. This is the final piece of the puzzle for the info screen.

[2017-12-23 14:19] Wiredframe commented on #136
Thanks @y20k!
Merry Christmas, have a great time all!

[2017-12-24 19:56] ikocevski commented on #136
@y20k Merry Christmas, the update looks great. Why the sudden bump of the API though? It won't install on KitKat 4.4.4.

[2017-12-27 12:45] y20k commented on #136
I did bump the API level because the FloatingMusicActionButton required API 21. I have only 150 installs on KitKat. Anyway since I dropped FloatingMusicActionButton I can probably revert back to KitKat compatibility.

[2017-12-27 16:34] y20k commented on #136
Hi @ikocevski ,

here is a version that should run on KitKat:

[transistor-app-test-3.0.0-06.apk](https://www.dropbox.com/s/fyu7ayljf6ihfqy/transistor-app-test-3.0.0-06.apk?dl=0)

[2017-12-29 21:11] ikocevski commented on #136
Great job on the update @y20k it seems ready to go! Just one really minor annoyance is the text is white for the heading of the popup menus. Might want to go with black there. Other than that it's **perfect** as far as I can tell. Cheers!

[2017-12-29 22:33] y20k commented on #136
Hello @ikocevski

THX. Can you post a screenshot? The text color is black on my device.

Cheers

[2017-12-29 23:11] ikocevski commented on #136
https://i.imgur.com/3zUUAmJ.png

Might just be my theme then I guess. Don't bother with it. Also, found [this](http://radiomof.kajgana.net:8020/listen.pls) stream doesn't work (may be unrelated to the update though).

[2018-01-08 15:59] y20k commented on #136
Okay. I see. That might be a theming problem since I do not apply any styling to the dialogs. That is just a standard headline from the base theme "AppCompat Light NoActionBar".

I will look more into theming in one of the next releases. Android supports [day and night](https://medium.com/@chrisbanes/appcompat-v23-2-daynight-d10f90c83e94) themes. Transistor should too.

The stream you posted works

[2018-01-09 21:22] ikocevski commented on #136
@y20k hm.. that's strange, it's just a regular mp3 stream. Should play normally. Well, nevermind it's just time for an upgrade I guess.

[2018-01-10 15:33] AhmedNazir opened #160 "[ Request ] Add an option for Search....."
I have 60+ radio channel in Transistor.
It's very annoying to find specific Radio.

[2018-01-10 19:35] y20k commented on #136
[v3.0.0](https://github.com/y20k/transistor/releases/tag/v3.0.0) of Transistor is out. It comes with the new user interface, we developed here together. Time to close this very long issue. Thank you all for your participation!!

[2018-01-10 19:35] #136 closed

[2018-01-10 19:40] y20k commented on #149
Transistor got a new user interface (see [v3.0.0](https://github.com/y20k/transistor/releases/tag/v3.0.0)). The old player screen is gone. So I guess I can close this issue for now. It is possible though that the new ui is plagued with the same bug. I cannot test it because the crash was not reproducible on my phone. :-( Sorry.

[2018-01-10 19:40] #149 closed

[2018-01-10 20:13] y20k commented on #158
Hi there,

I did look into the issue a bit more. The station http://ai-radio.org:8000/320.opus crashes somehow the media library that I use. You can see this on the attached screenshot. I cannot fix root problem on the library level. That is too complicated and way above my skill level. What I could do: I can try to figure out how to get notified if such a (rare?) crash happens. I am not sure it i

[2018-01-10 20:16] y20k commented on #141
Sorry. Since I was not able to reproduce this bug, I cannot help you. I am closing this issue for now.

[2018-01-10 20:16] #141 closed

[2018-01-10 20:49] y20k commented on #159
I looked into this and I was positively surprised by myself 🦊 (joke). It seems that Transistor's PlayerService is already modeled correctly - meaning: It works as intended. The flag that marks the service as destroyable is set as soon as a user presses STOP. In the UI that is indicated by the notification which is swipeable when Transistor is not playing music. From that point on it is up to the A

[2018-01-10 20:49] #159 closed

[2018-01-10 20:58] y20k commented on #160
Hi @AhmedNazir

Thank you for your suggestion!! I need to think about this.

We had a similar discussion about a possible feature to sort the list of stations a while ago. I did decide against it because I wanted to keep the app dead simple.

So no surprise: My fist reaction would be to be against a search feature. But I understand that in your situation a search feature could be helpful.

Althoug

[2018-01-11 08:52] Cormak commented on #159
@y20k That's ok. If it looks alright to you, I can't really complain. I just wanted to know if you saw anything irregular.

[2018-01-11 10:00] Wiredframe opened #162 "Implement track skipping"
It would be great if you could implement the native track skipping methods to skip the stations in their order with either a bluetooth headset or (via third party apps like Button Mapper) long pressing the volume keys.

[2018-01-11 14:26] rizapasha commented on #160
It is not request for searching for a new station I but i think is search within his added 60++ stations. I will support my server for station collections if you support for searching station URL

[2018-01-11 14:29] rizapasha commented on #160
Sorry for my bad English. Miss understood. Yes It is annoying for typing. I am agree with you.

[2018-01-11 14:30] rizapasha commented on #162
It is live radio bro. :)

[2018-01-11 15:00] Wiredframe commented on #162
Thanks but I mean skipping the stations not the tracks of a radio station 😆

[2018-01-16 09:48] y20k commented on #162
Okay. I will look into it. We had a discussion about that a couple of month ago. (see #89)

[2018-01-21 10:23] stokholm opened #163 "A couple of streams that work fine, but produce errors"
The first one produces the error: "Unsupported audio format detected.", but plays fine nonetheless:
http://drradio1-lh.akamaihd.net/i/p1_9@143503/master.m3u8

The second is a pls file, that is not recognized at all:
http://www.kanalplus.fm/rockkanalen/kp96.pls
But the stream inside (http://stream.kanalplus.fm/kp96) works fine.

[2018-01-21 13:16] y20k commented on #163
Hi @stokholm, thanks for filing this issue. I always listen to the same ten stations and they work fine ;). I need feedback like this. I will look into it.

[2018-01-23 06:11] betsythefc commented on #162
To keep it radio themed, it could be called 'Tune' or 'Seek' and that moves to the next station

[2018-02-03 10:05] ralxxx opened #164 "Adding / renaming stations during playback"
Thanks for all the work on transistor. I really enjoy it. Just one thing:
I came across an issue with v3.0.0 when entering new radio stations.
Example: When you enter 2 stations (named "radio1" and "radio2"). Once you rename "radio2" with a name that it appears in the list above "radio1" (for instance "alpha") and click on it. The radio player shows in the bottom line that you clicked on "radio1".

[2018-02-03 10:16] ralxxx opened #165 "[REQUEST] design mod (transistor v3)"
I really like the new simplified design (transistor v3), I have just one suggestion:
Especially when you have many radio stations in your list it would be helpful if the radio station that you (pre)select, is underlaid with a color, as the green dot only indicates the station that is currently playing but not indicates the station that is (pre)selected.
Example:
https://www.dropbox.com/s/opvbw8bwf

[2018-02-04 18:19] y20k commented on #165
Hi there, I am actually already working in this. It took a few days living with the new interface to find out that something is missing.

[2018-02-04 18:25] y20k commented on #165
The result looks like this. There are a few little bugs left though.

[2018-02-04 18:37] ralxxx commented on #165
Perfect!

[2018-02-07 14:14] y20k commented on #164
Okay thanks for the hint! I will try to eliminate this bug.

[2018-02-09 17:45] y20k commented on #165
the next version includes this feature (just published it)

[2018-02-09 17:45] #165 closed

[2018-02-11 10:33] ralxxx commented on #164
Hi. I am using the latest version of Transitor now (3.0.2). The bug has changed slightly its appearance but there is still an issue with radio stations that are being renamed.

Example:
- A new radio station is added. It name is "bevrtklara" ( just an example).
- I manually change the name to "vrt klara".
- When I now try to click the stations' name to play the radio stream, the name is changed ba

[2018-02-11 11:42] ralxxx opened #166 "[issue] station currently playing"
There's an issue with the green light, indicating the radio stream currently playing.
When I start Transistor (3.0.2), the app still indicates with a green dot the radio stream that I used last time.
When I chose another stream for listening, I have 2 green dots at the same time.

[2018-02-12 05:23] gerroon opened #167 "198.105.244.228:80"
Hi

Is there any reason why this app constantly trying to send packets to this ip address? It even tries to connect to this when I am playing a stream from 127.0.0.1 (local music server).

This is not a disclosed behavior and  there is no way to disable whatever that is. Thankfully my firewall blocks all such requests by default.

You are also sending packets over http.

thanks

[2018-02-12 06:26] y20k commented on #167
Hi there.

Thank you for finding this! That is very strange behaviour. The playback in Transistor is entirely done by the open source library [ExoPlayer](https://github.com/google/ExoPlayer). I am not sending queries to the mentioned IP.

I would like to recreate this behaviour. How do you watch network traffic on an Android device? I have honestly no clue. Could you post steps how to do that? And

[2018-02-12 09:20] bbo2adwuff opened #168 "Cannot close player in notification drawer when stopped"
How to reproduce:
1. Start station.
2. Stop station in notification drawer (or lock screen).
3. Click on X in notification drawer to close app.

App is not closing after pressing the X, but when station not stopped (i.e. playing) then X works as expected an app is closing.

OS: Android 4.4.4
(I check old issues, but this here seems like a bug because the X works when a station is playing. So it's

[2018-02-12 13:19] y20k commented on #168
Hi thanks.
thanks for pointing me to this bug. I did not test this feature under 4.4.. The next version will come with a fix.

[2018-02-12 13:24] y20k commented on #166
Hi. I cannot reproduce this issue, but I have an idea. The behavior you report may happen, when the app crashes while playing music, or when the app is killed by the system while playing music. Is that the case on your device?

[2018-02-12 13:32] y20k commented on #164
Thanks for providing the exact steps to reproduce this issue. That is very helpful!! BUT: on my test device a new (and old) station keeps the new name when I start playback after a rename. I have a few questions...

1. Did you maybe leave a step out in your description?
2. Did you  start playback via the play button or via long press in the list
3. how does the station name in the notification beh

[2018-02-12 13:53] ralxxx commented on #166
Not necessarily crashing....
The issue does not happen when I did not use the app for a certain while.
But when I start using the app, I close it and restart it right away, then I still have the green light from the previous session on (even though the stream is not playing). When I select another station, then I have 2 green dots. Does that help?

[2018-02-12 14:04] ralxxx commented on #166
To reproduce this issue, a stream must be playing when I close the app.

AND: When I reopen the app after having clused it (while playing), the play button pretends to play a stream, I can click on it (long press or clicking the play button), then the green light disappears where the button is still in playing mode). The play button only start reacting when I chose another stream first (long press

[2018-02-12 14:14] ralxxx commented on #164
Hm, I tested it five or six times before I sent my initial post.
Now, I am not able to repoduce it in the same regular manner.
I'll get back asap.

[2018-02-12 14:20] y20k commented on #166
What do you mean by closing?
App switcher and swiping away the app? When I do that only the UI gets closed the music continues to play.

[2018-02-12 14:29] ralxxx commented on #166
Closing for me means indeed: App switcher > swiping away the app.
For me: the app is closing and the current stream is stopping.

My system: I use Android 7.1.2/MIUI9.2

[2018-02-12 15:42] y20k commented on #166
Okay. Thanks. I think I have a way to fix that. Please wait for the next version of the app.

[2018-02-12 15:53] y20k commented on #160
@rizapasha Transistor is at its core a very simple app. Just a list of station an a play button. I want to keep it this way, Sorry to disappoint you :-/ ... I do not want to have any server components. See this previous discussion about a similar topic: [work together?](https://github.com/y20k/transistor/issues/94).

[2018-02-12 15:59] y20k commented on #71
This issue was partly addressed (and solved) here [Make "Now Playing" screen more modern and info-focused ](https://github.com/y20k/transistor/issues/136)

[2018-02-12 16:03] gerroon commented on #167
Hi

I use https://github.com/ukanth/afwall/ and it has internal loggging which keeps a tap on the processes that are blocked by Iptables.

You can try NetworkLog as well, meanwhile I will try it too.

Like I mentioned, Afwall blocks all traffic by Transistor (which might sound weird) because I do not need it to connect to any external stream, because it plays the stream from the local Mpd server w

[2018-02-12 16:33] y20k commented on #160
I decided against a search feature. I know that you have a good reason for wanting this. But I come from the perspective that I want to keep Transistor very simple. I think in most use cases a search option is not necessary or cumbersome to use.

To better the user experience for users with long lists of stations I would go with an alphabetical fast scroller. The stock contacts app implements such

[2018-02-12 16:33] #160 closed

[2018-02-12 16:43] y20k commented on #167
Okay. Thanks for the info. Where did you get your copy of Transistor get from? And if not from the Google PlayStore, which version are you using? (Just to make sure that you did not get an evil twin of my app. *)

Nope. No analytics here.

(*) I meant that only half jokingly. My other app has an evil clone in the app store. The downside of open source I guess.

[2018-02-12 16:55] ralxxx commented on #164
Anwers behind your question
    Did you maybe leave a step out in your description? NO
    Did you start playback via the play button or via long press in the list. ONLY LONG PRESS
    how does the station name in the notification behave? SHOWS THE CORRECT STATION NAME
    Does the issue only effect newly added stations, or can you reproduce it with "old" stations, too?
    DOESN'T MAKE A DIFERENC

[2018-02-12 17:07] gerroon commented on #167
I am sory to mentioned that I use the Fdroid version.

[2018-02-12 17:27] y20k commented on #167
The most current version of Transistor is v3.0.2. F-Droid has v3.0.0. I [contacted](https://gitlab.com/fdroid/fdroiddata/issues/1091#note_58722824) them already: The last automatic build on F-Droid failed (the build their APKs directly from source). v3.0.2 should be available shortly. I doubt that that would make any difference. But it is good to know.

Lets hope that something is wrong with your

[2018-02-12 17:33] y20k commented on #164
I can reproduce at least SCENARIO 3. 👍

SCENARIO 1: I experienced that problem (new instance of Transistor) on a phone running Android 4.4. Which version of Android did you test this on?

[2018-02-12 18:01] ralxxx commented on #164
Android 7.1.2/MIUI9.2

[2018-02-12 19:09] gerroon commented on #167
Thanks for the further steps. I will investigate it for sure.

[2018-02-12 19:56] gerroon commented on #167
I installed the latest github. And this is really weird.

I originally thought that maybe there is some radio information in the local stream which Transistor tries to grab extra radio information from. So I changed the radio in Mpd and cleared data readded and it still tries to connect to the ip I gave in the title. So it is not a stream information type of thing.

Then I thought I should try wit

[2018-02-13 10:10] y20k commented on #167
Just in case you had not already done this ...

https://www.google.com/search?q=198.105.244.228

It got me similar problem descriptions. For example: [Internal.network is not resolving hosts and ping redirected to 198.105.244.22](https://www.linuxquestions.org/questions/linux-networking-3/internal-network-is-not-resolving-hosts-and-ping-redirected-to-198-105-244-228-a-4175528190/). I am not compet

[2018-02-13 16:20] gerroon commented on #167
@y20k

Well I looked at the ip but I could not get much lead.

Lets say it is an ip resolving issue, the issue is that why would Transistor try to resolve a local ip address 127.0.0.1 and then not able resolve and redirect it to some unknown ip?

The p is owned by Searchguide it seems.

[2018-02-14 12:52] y20k commented on #168
[v3.0.3](https://github.com/y20k/transistor/releases/tag/v3.0.3) is out (on GitHub and Google Play and soon on F-Droid). The close icon should now work as intended on Android 4.4. Thanks again for reporting this.

[2018-02-14 12:52] #168 closed

[2018-02-14 12:53] y20k commented on #166
[v3.0.3](https://github.com/y20k/transistor/releases/tag/v3.0.3) is out (on GitHub and Google Play and soon on F-Droid). The app now should correctly "remember" / "sense" if it is playing back music.

[2018-02-14 12:53] #166 closed

[2018-02-15 10:44] bbo2adwuff commented on #168
Wow what a quick fix!
Thanks works all as expected :)

[2018-02-18 19:02] stardomains opened #169 "Night Mode not Remembered"
Night Mode not remembered on restart on 3.0.4

[2018-02-18 19:06] stardomains opened #170 "Restart necessary when adding stations through pls download"
Go to https://somafm.com/listen/ in Android browser.

Select a stream link that downloads pls. Example: 64k ACC on Space Station Soma.

Set Transistor to open the download automatically when prompted.

If you try again on another stream it will not import the next station. You need to close Transistor and have the download happen again.

[2018-02-19 14:01] stardomains opened #171 ""Channel count" text squished"
"Channel count" text squished in fragment_main_player_sheet.xml:

[code]

should be:

[code]

"wrap_content" instead of "15dp" That fixed it for me. Matches the other player_sheet_h2... codes now

By the way how come no bitrate text? I see that commented out.

[2018-02-19 14:45] y20k commented on #171
THX. I did not see that, although I am using Transistor 24/7 myself. I pushed a fix a minute ago.

Bitrate display is planned, but not implemented feature (see [Bit Rate In The Info Screen](https://github.com/y20k/transistor/issues/121))

[2018-02-19 14:45] #171 closed

[2018-02-19 14:57] y20k commented on #169
Thanks for finding that!

Night Mode is (yet) not officially supported.

Depending on the way it is going to be implemented, it is maybe not necessary to remember the setting. If Android 9 gets an official Night Mode, which this [Medium post](https://medium.com/@chrisbanes/appcompat-v23-2-daynight-d10f90c83e94) somewhat suggests, I will probably not offer a user facing trigger for Night Mode. I th

[2018-02-19 15:48] stardomains commented on #169
I went all out on Night Mode. Put it in permanently in onCreate. And did my own AMOLED night mode as seen in pic below. Just messing around with it trying different things.

![screenshot_20180219-104555](https://user-images.githubusercontent.com/831583/36385991-51fc9380-1562-11e8-8e6f-fd1c73711cf9.jpg)

[2018-02-19 16:50] y20k commented on #169
If you find out how to tint the status bar icons white in Night Mode (while leaving them grey in Day Mode), please let me know.

[2018-02-20 19:52] y20k commented on #169
I think I will go with an all black background, too. It looks nicer.

I am interested in your opinion. Do you think it is necessary to tone down the red in Night Mode? I would like to keep it the way it is, because it is somewhat part of the brand.

[2018-02-22 20:32] #169 closed

[2018-02-24 06:02] mrbatcop opened #172 "Dark Theme [Request]"
Hi!
I really like your app but I think the dark theme (like details info in the app) will be much better because the white is really ugly especially the status bar. It's sad. (((
Please, make it or add the simple feature: change theme.
Update: I mean the app background color = grey dark ; the status bar background color = red dark. I think it's the "true night mode" ;))))
Good Luck!

[2018-02-25 21:26] y20k commented on #172
Hi there,

Transistor is supposed to be a very simple app. Just the basic features. The app subsequently has **no Settings screen** and it will probably will never get one. So there ist not much hope for an official Settings screen with a theme switch in Transistor.

That said. The Android system offers the option for an app to have a Day theme and a Night theme. A few weeks ago I found an interes

[2018-02-25 21:26] y20k commented on #169
see also #172

[2018-02-25 21:33] y20k commented on #172
# Current Night mode style

<a href="https://user-images.githubusercontent.com/9103935/36646700-84d44df2-1a7b-11e8-9c77-e4a990ee6792.jpg"><img src="https://user-images.githubusercontent.com/9103935/36646700-84d44df2-1a7b-11e8-9c77-e4a990ee6792.jpg" width="320" /></a>

<a href="https://user-images.githubusercontent.com/9103935/36646701-84ec7f12-1a7b-11e8-9cbd-2a231c4577f4.jpg"><img src="https://use

[2018-02-26 07:03] mrbatcop commented on #172
Hi!
Oh! I didn't watch the closed issues at all (( - my bad :)
 Yes, Current Night mode style looks nice!
 But, I think if the status bar color will be the red it will be nicer!!! // of course, it is my personal opinion))
Thanks and Good Luck!

[2018-02-27 14:48] mrbatcop opened #173 "Timer [bug]"
Hi!
I found an interesting bug!
1) Start playback
2) Minimize the app // now I can open the app with different ways
3) Open the app with the notification area (I mean below the status bar) and press timer button.
You will see the message: Please start playback first. // BUG!
BUT, if you will do this thing:
Open the app with the icon on the home screen and press timer button. // OK, it works!
(Howe

[2018-02-27 16:04] mrbatcop commented on #158
Hi!
I found some strange behavior:

1) Start playback
2) Now if we will close the app from the recent apps
3) Playback still works (notification area) but if we will open the app with the icon on the home screen we won't see the status playback (I mean the song name)
BUT if we will open the app with the notification area it will be OK!

Or if stream was disconnected and connects again (for example

[2018-02-27 16:26] y20k commented on #173
Thanks! I will investigate.

[2018-03-10 20:55] y20k commented on #173
The bug will be fixed in v3.0.4. Thanks again for finding and reporting it.

[2018-03-10 20:55] #173 closed

[2018-03-10 20:57] y20k commented on #172
Dark theme is a hidden feature in the upcoming v3.0.4. You can activate it via long press on the three dots menu. I am still a bit hesitant to make this an official setting. Let's see.

[2018-03-10 20:57] #172 closed

[2018-03-10 21:02] y20k commented on #167
Sorry. I think I cannot help. I have no idea what causes that behavior. I will close this Issue. :-/

[2018-03-10 21:02] #167 closed

[2018-03-15 09:45] y20k opened #176 "Sleep timer notification moves unnecessarily when adding time"
This one came in via email: When a user taps a second or third time on the sleep timer icon to increase the duration, the sleep timer notification bar is cancelled and shown again which in turn pushes the player up and down. Too much and unnecessary ui movement.

[2018-03-24 07:09] mrbatcop opened #177 "F-Droid doesn't have v3.0.4"
Hi!

I read the previous issues and I found this link:
https://gitlab.com/fdroid/fdroiddata/commits/master/metadata/org.y20k.transistor.txt
I'm sorry but I don't understand what does "Transistor: disable 3.0.4 (54)" mean?
It means an error?

Thanks, and Good Luck!

[2018-03-24 16:27] offa commented on #177
It seems the build has been disabled due a missing dependency.

From the [F-Droid build log](https://f-droid.org/wiki/page/org.y20k.transistor/lastbuild):

[2018-03-24 19:28] y20k commented on #177
Thanks. I found the problematic line of code. To be honest that looks in hindsight like a wrong selection in code-autoconplete on my part. Uups. The next version will be compile-able again for F-Droid.

[2018-03-28 12:09] mrbatcop opened #178 "add .pls - error"
Hi!

I try to add this link
https://centova1.cheapshoutcast.com:2199/tunein/baroque.pls
But I see this message:
Transistor tried hard but could not make sense of the link.
Hmm, what does it mean? I mean it is a .pls fault or it is a Transistor bug?
Update: Hmm .. It is interesting! I opened the link with the VLC then I copied the location of the stream to the Transistor and it works but very unsta

[2018-03-28 12:45] y20k commented on #178
Thanks for finding/reporting this problem. I am AFK, but I will look into it. The PLS seems to be legit. ...

In the meantime try to add this URL manually.

http://8.38.78.173:8045/stream

[2018-03-28 12:47] y20k commented on #178
And about the instability... I don't know. That is probably out of my reach since I just hand the stream over to a audio playback library. But I will look what I can do.

[2018-03-28 15:24] mrbatcop commented on #178
In the meantime try to add this URL manually.
=>
Thanks, but I already did this using VLC info, (See my previous post)

Good Luck!

[2018-04-05 14:58] y20k commented on #178
Sorry that it took a bit longer. I was on vacation.

The link https://centova1.cheapshoutcast.com:2199/tunein/baroque.pls is configured a bit unusual. Although the file is named `baroque.pls` the file you get is named `playlist.pls`. I am not sure, but I think **this is not** the problem, because the HTTP request does not reveal any redirects.

But speaking of redirects ... Since I am onto this is

[2018-04-05 15:19] y20k commented on #178
I just checked: I already did double the buffer a while ago. See [PlayerService.java#L703](https://github.com/y20k/transistor/blob/v3.0.4/app/src/main/java/org/y20k/transistor/PlayerService.java#L703). So now I am a bit reluctant to increase it even more. Because that would mean longer loading times.

I am not sure at all that the problem you experience is related to the buffer size, since I canno

[2018-04-05 15:19] #178 closed

[2018-04-05 15:53] y20k commented on #162
I did re-open #89. I will try to implement a station switching via media buttons (Android Auto, Headphone buttons, Wear OS controls).

But I am sorry, I guess that is not what you want/need. But I am against adding any new on-screen controls for **next station** and **previous station**

[2018-04-05 15:53] #162 closed

[2018-04-06 00:07] rizapasha commented on #89
i rethink that why someone has more than 3 stations is it they really hear it all a whole day? mine only have 2 stations, i hear it all. it is better to limit your only favorite radio station and stick with fewer.

the track skipping is against simplicity, simple live doesn't skip, simple live just flow it.

[2018-04-09 02:15] rizapasha commented on #162
*Sincerely,*
Riza Fadholi Pasha,S.Si.

*Gadjah Mada University*

On 5 April 2018 at 23:53, y20k <notifications@github.com> wrote:

[2018-04-12 15:12] mrbatcop commented on #172
Dark theme is a hidden feature in the upcoming v3.0.4
=>
I have v3.0.5. It works great. Thanks man, that's cool!

Good Luck!

[2018-04-13 10:43] valsou opened #179 "App crash when adding a station"
Hi,

i'm trying to add a station :
http://stream.srg-ssr.ch/couleur3/mp3_128.m3u

Every time the app crashes.
Version used : 3.0.5

[2018-04-13 11:39] radasbona opened #180 "M3U with 4 addresses are ignored since 3.0.5"
In previous Versions the station was shown and played correctly.
Now the station isn't shown in the list any more.

The m3u file:

http://89.39.189.52:8000/
http://gherlafm.ro:80/eurostil.m3u
http://81.196.122.19:8008/
http://83.170.76.46:8090/
http://83.170.76.46:8092/

[2018-04-13 12:04] y20k commented on #180
This the content of the m3u file? Do you have a link? Where is it hosted?

[2018-04-13 12:11] #177 closed

[2018-04-13 12:12] y20k commented on #176
v3.0.5 makes the notification less jumpy

[2018-04-13 12:12] #176 closed

[2018-04-13 12:25] y20k commented on #180
I think I found the station you mentioned: http://gherlafm.ro/ If you click on the button [Listen live](http://gherlafm.ro/eurostil.m3u) you get the file http://gherlafm.ro/eurostil.m3u.

The file contains

[code]

It works at least on v3.0.6 (to be released today). Maybe your problem is related to #179.

[2018-04-13 12:33] y20k commented on #179
Thanks!! That is a pretty bad bug. Thankfully it was easy to fix. [v3.0.6](https://github.com/y20k/transistor/releases/tag/v3.0.6) can handle files formatted like the one you reported. That was an important bug to report. Thank you again.

[2018-04-13 12:33] #179 closed

[2018-04-14 11:05] radasbona commented on #180
Yes, this is the content of my m3u.
I've made a second just with http://89.39.189.52:8000/ That works.

All files with more than one address are ignored. 3 Stations in my list are missing.

I wait for v3.0.6. Nevertheless - great app. 👍

[2018-04-14 11:05] radasbona commented on #180
Yes, this is the content of my m3u.
I've made a second just with http://89.39.189.52:8000/ That works.

All files with more than one address are ignored. 3 Stations in my list are missing.

I wait for v3.0.6. Nevertheless - great app. 👍

[2018-04-15 09:55] radasbona commented on #180
Issue is still there in v3.0.6.

I chanced all m3u files to one address files. The missing stations are displayed now again.
Before 3.0.5 multi address files were no problem.

(for example: the bavarian Rundfunk also offered multi address files to download)

[2018-04-15 12:49] y20k commented on #180
Okay. Thanks. I probably have a wrong understanding of the problem. From version 3.0.3 on there is a select dialog for the radio streams contained in an m3u or pls file. That dialog works fine on my testing devices (screenshots below).

Before v3.0.3 Transistor **just took the first stream** it found in an m3u or pls file and ran with it.

I guess both ways of dealing with a m3u or pls playlists a

[2018-04-16 16:03] #180 closed

[2018-04-16 16:34] mrbatcop opened #181 "I think you made a misprint)))"
Hi there!)

See the https://github.com/y20k/transistor/releases
 -> transistor-app-release-3.0.5.apk instead of transistor-app-release-3.0.6.apk

Good luck!

[2018-04-16 16:49] y20k commented on #181
Oh. Thanks. That was just a cut&paste error.

[2018-04-16 16:49] #181 closed

[2018-05-07 08:07] pickx opened #182 "Writing to external storage seems to fail, app handles this poorly"
Underlying issue:
- The app has storage permissions enabled.
- /sdcard1/Android/org.y20k.transistor/files/Collection/ is created.
- Adding a new station works, either by opening the stream file from a file browser, by opening it from the browser, or by manually inputting the url. That is, a stream is added to the list and can be played. However, no file is created under the /files/Collection/ dire

[2018-05-07 11:11] y20k commented on #182
Hi there,

that is a very interesting bug. Transistor should not need any permissions to be able to store files under the /Android folder. This folder is part of the so-called [External Storage](https://commonsware.com/blog/2014/04/08/storage-situation-external-storage.html).

The fact that there is a sub-folder `Collection`  means that Transistor is in principle able to write stuff into its /Andr

[2018-05-07 17:40] yellowiscool opened #183 "Could it be possible to automatically play a radio when Transistor starts ?"
I would like to have a default radio that automatically plays when the application is started. So I can ask my phone to start Transistor using Google Assistant or similar.

Is it something possible or does Android have a limitation against that ? I tried a few Radio apps and I didn't find any doing that except the Radio France apps such as France Inter (but these apps display ads at startup someti

[2018-05-07 19:52] y20k commented on #183
Sorry, but I don't see Transistor getting an option like this.

But try the option `Place on Home screen` with you favorite station within Transistor. It should work the way you invisioned, if you can get you the Assistant to start a Home screen shortcut somehow. If you can get this to work, I would be interested in how you did it. I don't have Assistant on my phone right now.

[2018-05-07 21:26] pickx commented on #182
It did not, the Collection directory is empty. Apparently this is a known problem with custom ROMs on this phone. Though I haven't tried it, users on XDA have reported only being able to save 0kb files, even with "popular" apps like Spotify. I have yet to try this on anything other than Transistor.

[2018-05-08 10:57] y20k commented on #182
So if understand the problem correctly, Transistor should work as expected, if no sd-card is inserted. Because in that case the OS should offer a part of its normal storage as External Storage, right?

I wonder if Transistor's [method](https://github.com/y20k/transistor/blob/v3.0.6/app/src/main/java/org/y20k/transistor/helpers/StorageHelper.java#L58) that gets the path to the external storage coul

[2018-05-09 06:52] yellowiscool commented on #183
Hei,

Yes from what I saw, the assistant can start Transistor, but not the home screen shortcut. It's not a huge issue for me. Thanks for this app that doesn't contain ads and trackers.

[2018-05-09 06:52] #183 closed

[2018-06-07 18:39] y20k commented on #89
Hi @rizapasha , track skipping is only available on Android Auto or on a Wear OS. The phone app remains as simple as it is now.

[2018-06-07 18:43] y20k commented on #89
Hi @c00ller ,

I got an interesting [pull request](https://github.com/y20k/transistor/pull/184) from @mook that implements track skipping on Android Auto. Do you have time to test it? Here is a signed APK of an upcoming version of Transitor.

* [transistor-app-test-3.0.7-01.apk](https://www.dropbox.com/s/mcxhxe3ev1o7rv0/transistor-app-test-3.0.7-01.apk?dl=0)

[2018-06-07 18:44] c00ller commented on #89
@y20k I was just about to ask how soon I can test it 👍 Will try it today and let you know how it goes.

[2018-06-07 20:47] y20k commented on #89
Hi @c00ller ,

I am sorry. I am very time constrained at the moment. I only checked the validity of the code that @mook sent in. It should theoretically work. I did not test it with the Android Auto App.

@mook: do you have time to test why the solution is not working on Auto? I will try to do that too next week.

@c00ller hang in. We will get there.

[2018-06-07 21:02] y20k commented on #89
@mook if you find the time you might want to check out this https://developer.android.com/training/auto/audio/#required-actions

Maybe the fix is as easy as to set additional ACTIONS in PlayerService -> createSessionPlaybackState

Okay. Need to get up early tomorrow. I am out for today.

[2018-06-08 13:50] y20k commented on #89
Hi @c00ller,
the skip functionality is now exposed in the Android Auto app. @mook provided the necessary changes (see #185). I did a VERY brief test. It seems to work. Here is an updated and signed APK for further testing:
* [transistor-app-test-3.0.7-02.apk](https://www.dropbox.com/s/mpn1hpn7wtljkk0/transistor-app-test-3.0.7-02.apk?dl=0)

![screenshot_20180608-154149](https://user-images.githubus

[2018-06-08 21:05] c00ller commented on #89
@y20k Good news - it works! Used it in my car, and steering wheel media controls worked as expected. SUCH a better (and safer) driving experience! 👍

[2018-06-08 21:10] c00ller opened #186 "Show last played station when opening Transistor on Android Auto"
When opening Transistor in Android Auto, we get the screen that says, "To play something, open the menu at the top left." Instead, how about showing the last played station, with the play button ready to press? This would be consistent with the standalone app UI and other music apps in Android Auto. I think this would be the final polish needed for the Android Auto experience.

[2018-06-09 06:38] y20k commented on #186
You are right. Let's see if there is an easy way to implement this. :-)

[2018-06-10 10:07] y20k commented on #89
@mook any idea what might have caused that?

[2018-06-11 07:39] y20k commented on #89
That sounds like the easier approach. Unifying the backend is a much bigger task that has do be tackled - but maybe not right now :-)

[2018-06-11 09:59] y20k commented on #89
A simple fix would be making the station name part of the station id string (see commit above), An okay solution?

[2018-06-11 16:07] y20k commented on #89
Here is a new development snapshot. The stations are now ordered alphabetically and stations do not start automatically when pressing prev/next if Transistor is paused (I think that is the expected behavior).

* [transistor-app-test-3.0.7-03.apk](https://www.dropbox.com/s/j2u4ns1rek2jhpr/transistor-app-test-3.0.7-03.apk?dl=0)

[2018-06-11 16:20] c00ller commented on #89
I think this is unexpected! Playing when pressing prev/next while paused is the behavior for the media apps I use (Google Play Music, Windows Media Player on PC, etc.).

[2018-06-11 16:31] y20k commented on #89
Okay. THX. Just to clarify. The expected behavior of the app is:

* press next while paused --> switches station AND starts it

Right?

[2018-06-11 16:32] c00ller commented on #89
Yes, that's right 👍

[2018-06-11 16:40] y20k commented on #89
My idea was: What if you want to skip several stations ahead. Do you really want to have them  all started? Imagine a ten-station-skip.

[2018-06-11 16:41] y20k commented on #89
I see. Spotify does that too. Maybe I should roll back the change :-)

[2018-06-11 16:48] y20k commented on #89
... now back to the previous skip behavior :-)
* [transistor-app-test-3.0.7-04.apk](https://www.dropbox.com/s/6r0ug2qvm49zt7o/transistor-app-test-3.0.7-04.apk?dl=0)

[2018-06-13 13:31] y20k commented on #89
Hi @c00ller

I am not sure. **On the one hand** ...

* the skip feature works on Android Auto as expected :+1:

... **on the other hand** the new feature introduced a few new issues. :-1: Mainly:

* the skip feature is offered on all media controlling devices not only on Auto, for example Wear OS and supported headphones will offer a skip option. But the feature does not work here.
![screenshot_15

[2018-06-13 14:09] y20k commented on #89
... I could expose the skip feature only, if the app has detected `UI_MODE_TYPE_CAR` - if the app is connected to an Android Auto instance #thehackyway :-) I tried this, and it works with the Android Auto App. I will post an updated APK later.

Maybe if the latest changes turn out to not cause any new issues.

[2018-06-13 17:39] y20k commented on #89
Okay. Here as promised a version of Transistor that only exposes the skip feature if it detects Car Mode. It works as intended with the official Android Auto App (= showing skip controls) and with the Android Wear Emulator (not showing skip controls).

@c00ller: You have a car with built-in Android Auto? If so, can you check if the feature works?

* [transistor-app-test-3.0.7-05.apk](https://www.d

[2018-06-13 20:10] c00ller commented on #89
@y20k Yes, my car has "built-in" Android Auto. To clarify, car-supported Android Auto is simply a projected display of the Android Auto app running on the phone. So AFAIK, any behavior in the Android Auto phone app should be identical to that in the car.

So if I understand correctly, the latest test version will behave the same in Android Auto (from a user perspective) as the last test, just with

[2018-06-13 21:03] y20k commented on #89
If everything STILL works as expected, that would be great. My only fear would be that the latest changes introduce regressions like disappearing skip buttons.

[2018-06-14 02:03] c00ller commented on #89
@y20k Everything looks good on my end for transistor-app-test-3.0.7-05.apk

[2018-06-14 04:14] mook commented on #89
This should probably go into a different issue, but as far as I can tell the prev/next buttons work fine when paired with a Wear OS device; I was testing this by making [the condition](https://github.com/y20k/transistor/blob/master/app/src/main/java/org/y20k/transistor/PlayerService.java#L785) always return true.  That's with a physical phone paired with an emulated Oreo watch.

We don't need to r

[2018-06-14 12:57] y20k commented on #89
You are right @mook. I will publish a new version Transistor with the skip feature on Android Auto. Wear OS and other control-units can follow later.

For me Transistor kept crashing when I tried to control it via Wear Emulator and headphone buttons. I think - but I am not sure - that is because [onLoadChildren](https://github.com/y20k/transistor/blob/master/app/src/main/java/org/y20k/transistor/P

[2018-06-15 20:02] y20k commented on #89
New version is out. Closing this issue. :smile:

* [v3.0.7](https://github.com/y20k/transistor/releases/tag/v3.0.7)

[2018-06-15 20:02] #89 closed

[2018-07-07 16:37] munadikiehl opened #187 "Logo Design Proposal"
Dear Sir/Madam,
Hi, my name is Munadi Kiehl. I'm a graphic designer and I would like to collaborate on your open source project and to propose free icon/logo design. If you're interested in, please, let me know.

Best Regard,
Munadi Kiehl

[2018-07-12 12:13] nowster opened #188 "Accented characters in title/artists show as �"
Accented characters (eg. á, ç) in titles and artist names are showing up as � (U+FFFD) in the display.

I'm using Icecast2 2.4.3 fed by liquidsoap 1.1.1. They are being sent UTF-8 encoded metadata strings.

Other players (eg. XiaaLive, deadbeef) show the accented characters in the title/artist correctly.

VLC just ignores any metadata that's not plain ASCII.

The mojibake we'd get from a UTF-8 str

[2018-07-13 06:18] y20k commented on #188
I will look into that. I think that the [IcyInputStream](https://github.com/y20k/transistor/blob/master/app/src/main/java/org/y20k/transistor/helpers/IcyInputStream.java) class, that I use, [constructs](https://docs.oracle.com/javase/6/docs/api/java/lang/String.html#String(byte[],%20int,%20int,%20java.lang.String)) the metadata string not using any encoding info.
I am not sure how to detect the co

[2018-07-13 13:38] y20k commented on #188
@nowster can you post a publicly accessible stream for me to test solutions? THX.

[2018-07-13 15:11] nowster commented on #188
Apologies for the noise.

Icecast2 defaults to using Latin1 (ISO-8859-1) and so does liquidsoap when talking to Icecast2, even if you give it UTF-8 input.

[2018-07-14 08:16] y20k commented on #187
Hi there. Can we talk on another channel? I am interested in your work. Problem is I have two Android apps (soon? three) If I change the style of one icon, I must change it on the other apps too. Plus: I may be a demanding client :-). We need to talk to see if you and me are a good fit. Anyway. That said. I am interested. That you for offering your help!!

[2018-07-14 08:20] y20k commented on #188
Sorry. I am confused. Does that mean Transistor is basically doing the right thing?

[2018-07-14 12:31] nowster commented on #188
There's no signalling of which charset is in use in the ICY metadata protocol. Icecast1 defaulted to UTF-8. Icecast2 changed its default to Latin1 (even when the incoming metadata is UTF-8) unless configured otherwise, due to historic compatibility problems with some players.

Transistor is handling UTF-8 correctly. However, the majority of Icecast servers will be sending Latin1.

Perhaps if a UTF

[2018-07-16 14:50] y20k commented on #188
Do you know of a stream that is **definitely and always** Latin1? I need a test case.

[2018-07-16 16:12] nowster commented on #188
I've set up one temporarily: http://icecast.nowster.org.uk:8000/test.aac

Artist is "Bïttên bÿ a Møøße ©Ãrtist"
Title is "Déjà Vu Ç°"

The last word in each field contains a false UTF-8 trigger.

[2018-07-17 08:18] y20k commented on #188
Wow. Thank you. That is very helpful! My fist [approach](https://github.com/y20k/transistor/commit/223c3ad9d8e36ff2f3878b76d4fe7cd16dc19f6f) did not solve the problem though :-)

[2018-07-17 09:21] nowster commented on #188
You're probably best wrapping a try-catch round something that tries to validate the string as UTF-8, then falling back to Latin1 in the exception handling.

[2018-07-17 12:17] y20k commented on #188
I tried to use [juniversalchardet](https://github.com/albfernandez/juniversalchardet) at first. But I try to keep external dependencies to a minimum. So I [opted](https://github.com/y20k/transistor/commit/14d9a2a35c53c1fc9574d6865b89836fcbe42e8b) for the approach you suggested.

It works for the test-stream you set up. I will ship the Latin1-fallback with the next version of Transistor.

[2018-07-17 12:44] y20k commented on #188
If you want to test the solution, here is a test APK:

- [transistor-app-test-3.0.9-01.apk](https://www.dropbox.com/s/zrs5ek7xkmqegfa/transistor-app-test-3.0.9-01.apk?dl=0)

[2018-07-17 12:59] y20k commented on #188
... and a test APK with the simplified UTF-8 check

- [transistor-app-test-3.0.9-02.apk](https://www.dropbox.com/s/o3ewtfk0by4ugt6/transistor-app-test-3.0.9-02.apk?dl=0)

[2018-07-17 19:25] y20k commented on #188
Yes. Good idea.

[2018-07-17 19:37] nowster commented on #188
Done. The stream is now UTF-8, and it seems to be working fine with the test .apk.

[2018-08-08 07:49] y20k commented on #188
Summertime. I totally forgot to publish an updated version of Transistor that includes the Latin1 fix. Today I remembered....

* [v3.0.9](https://github.com/y20k/transistor/releases/tag/v3.0.9) is out

Time to close this issue. Thanks for helping me out here!!

[2018-08-08 07:49] #188 closed

[2018-08-08 07:50] #182 closed

[2018-08-08 07:52] y20k commented on #182
Sorry since I do not get a feedback from the OS that the SD is not mounted in your special case, I am not sure on what to do. That is why I closed the issue.

[2018-08-10 07:46] Riotous commented on #121
@y20k any progress on this? Bitrate is one of the most useful parts of any info display.

[2018-08-10 19:59] y20k commented on #121
@Riotous

I agree. Bitrate was the reason to implement the info sheet in the first place. But to be honest I haven't been working on this issue in quite some time. I do not have enough time to spare at the moment.

I mainly built Transistor to meet my own needs. Namely a free and lightweight way to listen to web radio. I use Transistor very often, but I rarely feel the urge to see what bitrate the

[2018-08-26 01:44] Symbian9 commented on #172
Great! In v3.0.9 it work like a charm!

Nice "eastern egg" ;-)

[2018-09-04 23:07] gentoo-cba commented on #101
@y20k this is more common than you think.

Shoutcast's own servers (old ones) that you can find at mp3.logosradionetwork.com/listen.pls or infowhores on stream server http://stream.infowars.com (stream1-3 too) run the windows shoutcast server do not properly give out the mime type. http:/streams.infowars.com is the newer shoutcast server that is running Linux for example which works fine.

If the

[2018-09-11 07:07] cyberbix opened #189 "Audio is not routed through AudioFX on LOS 15.1"
On my Samsung A320FL (inofficial) LOS 15.1, audio seems not to be routed through AudioFX equalizer.

[2018-09-19 19:31] y20k opened #190 "Add accessibility descriptions to entries in list of stations"
This issue came in via email: Add accessibility descriptions to entries in list of stations so that screenreaders can process them.

[2018-09-19 19:34] y20k commented on #189
Sorry. But I do not know how to achieve that. I marked this issue as "help wanted".

[2018-09-19 20:56] Moskytto commented on #190
Hello! I'm here for the first time. It was I who made this request.

[2018-09-19 21:03] y20k commented on #190
Nice. Welcome! It would be great, if you could help me testing this. And: Please excuse me in advance. This project is moving rather slow at the moment. I only work on it in my spare time.

[2018-09-23 07:48] cyberbix commented on #189
Hello y20k,

thanks for getting back and thanks for your great work delivering a minimalistic stream player. Excellent !

I found this https://github.com/therealahrion/Audio-Compatibility-Patch.

I didn´t test it yet with Magisk, but I will give you results when done.

Regards
Peter

Von: y20k <notifications@github.com>
Gesendet: Mittwoch, 19. September 2018 21:35
An: y20k/transistor <transistor@n

[2018-09-24 16:49] y20k commented on #190
Hi @Moskytto ,

I made some minor changes to the app that in theory should fix this issue. Over the weekend I fired up Talkback for the first time. And as far as I could judge Transistor now reads out load the station names.

Would you like to test that for me? Here I have an APK file, so that you can sideload the app, if you like.

* [transistor-app-test-3.0.10-01.apk](https://www.dropbox.com/s/z

[2018-09-25 13:19] Moskytto commented on #190
Hello! Thank you very much for your attention. I was very excited to test a new version of the application that you kindly sent me. But unfortunately my device did not work. I could not test with Talk Back because the same does not open. Displays a message "The transistor has stopped". My device is Moto E 4 Plus running Android 7.1.1. Do not worry, you do not have to hurry. Keep doing this work in

[2018-09-25 14:55] y20k commented on #190
Hi there.
I will look into it and post a new APK. Sorry.

[2018-09-26 10:16] Moskytto commented on #190
no problem

[2018-09-26 11:16] y20k commented on #190
Hi,

I was able to reproduce the problem. There seemed to be a difference between the debug version I was using to test the app and the version I compiled for you. Anyway. After a few changes I managed to compile a version that should work for your device. I just tested it on my phone, too.

* [transistor-app-test-3.0.10-02.apk](https://www.dropbox.com/s/6lzhuo27u42fj8f/transistor-app-test-3.0.10-

[2018-09-26 12:51] Moskytto commented on #190
HI! It should work, and it worked. Now I can hear the names of the stations. I have reviewed almost all the menus and buttons and the only thing that is still not read is the transmission link that is in the details of the player. But in fact this is not relevant as there is already a button to copy. I'm just reporting this detail. Now the app is perfect. Thank you so much for being so thoughtful!

[2018-09-26 13:15] y20k commented on #190
Hi there,

the stream address now should also be readable. I added it as a "description" that TalkBack should read out loud. Here is a new APK:

* [transistor-app-test-3.0.10-03.apk](https://www.dropbox.com/s/ruegjdisi7008l7/transistor-app-test-3.0.10-03.apk?dl=0)

I will post the current version within the next couple of days to the F-Droid store and to the PlayStore.

[2018-09-26 14:02] Moskytto commented on #190
Perfect! Accessibility 100%. I'll be waiting for availability in app stores. PS: I found this app on FDroid.

[2018-09-27 10:03] y20k commented on #190
[v3.0.10](https://github.com/y20k/transistor/releases/tag/v3.0.10) is out. It may take a couple of days until it shows up on F-Droid. This version contains the accessibility improvements. Thank you for helping me with this issue!!

[2018-09-27 10:03] #190 closed

[2018-09-28 10:27] Symbian9 opened #191 "Ukrainian (cyrillic) characters shown in metadata as "ÐÐ¾Ð²Ð...""
On "PROMIN" radio some messages in metadata sting shown like on screenshot:

![screenshot](https://i.imgur.com/lKkEIiR.png)

Here is example of one of such metadata:

[code]

Stream URL:

- http://91.218.213.49:8000/ur2-aacp-ulow

In most cases, it should be Ukrainian letters.

[2018-09-30 15:56] gentoo-cba commented on #101
@y20k is this fixed in the new release? If no mime time assume it's mp3 or have a test on the data to see if it is an mp3 stream.

[2018-09-30 18:29] y20k commented on #101
@gentoo-cba the short version: the issue is still marked as open. :smile:

The slightly longer one. Just skipping all mime type checks would probably result in a worse user experience. People would just try to enter the TLD of a radio station and there would be no response from the app.

So the correct way to do this would be indeed to check the content of the requested URL. Transistor would need

[2018-10-01 15:50] y20k opened #192 "Android Pie: Unable to listen to http streams"
On Android Transistor refuses to start http streams.

[2018-10-01 16:32] y20k commented on #192
[v3.0.11](https://github.com/y20k/transistor/releases/tag/v3.0.11) should fix the issue. Please reopen, if the problem persists.

[2018-10-01 16:32] #192 closed

[2018-10-01 18:09] kaffeekanne commented on #92
I love the simple UI of Transistor. Anyway i would love to see proxy settings too.

Usecase: Route Trough orbot for privacy reasons. Stream provider can still count users/clicks, but should not be able to track listeners.

Of course i can add a custom script to afwall to achive this, but that is a big barrier even for advanced users.

Global proxy settings are not useful as i obviously do not want

[2018-10-04 12:46] y20k commented on #92
sorry. but I really do not want to add a settings screen to the app.

[2018-10-04 16:47] y20k commented on #191
Hi there. Thanks for reporting this issue. Right now Transistor only supports UTF-8 and Latin1 (see also Issue #188).

* Any Idea what format the specific metadata has?
* Is only one station impacted, or is this a wider problem?

[2018-10-19 14:33] PanderMusubi opened #194 "Balance size of icon at top of screen"
Please, balance size of icon at top of screen. Tune it be in better relation to other icons there.

See screenshot for proposal.

![screenshot_20181002-091710](https://user-images.githubusercontent.com/198964/47224799-b8a60300-d3bc-11e8-86e3-ae2c43522314.jpg)

[2018-10-20 19:32] y20k commented on #194
Thank you for reporting this. It has been a while since I touched the status bar icon. I thought I did everything correct. I re-read the [dev guidelines](https://developer.android.com/guide/practices/ui_guidelines/icon_design_status_bar#size11). They state:

The [current icon](https://github.com/y20k/transistor/blob/master/app/src/main/res/drawable-xxxhdpi/ic_notification_app_icon_white_24dp.png)

[2018-10-20 19:59] ShadyGaDa opened #196 "Page header with swipe"
Only a suggestion or a request really. Adopt multiple swipe able pages with editable page headers to group genres.
Thanks I think the app is cool.

[2018-10-21 07:36] ShadyGaDa commented on #196
OK thanks if alrite I mite go ahead an branch. I also like supa simply apps ;)

[2018-10-22 14:29] PanderMusubi commented on #194
Yes, if you resize the icon, it will also get proportionally a bet less wide, which is good.

[2018-10-23 08:01] evgentset commented on #191
Hi, that metadata has "Cp1251" encoding which displayed incorrectly in UTF-8. Idk how to detect encoding page in metadata, but as workaround this issue can be fixed by change line 377 in Station.java (
https://github.com/y20k/transistor/blob/f2b65e6e0a6ccff33d2ef26fd2e0e790cd76c4bb/app/src/main/java/org/y20k/transistor/core/Station.java#L377)

Need to change this line to something like:
`BufferedR

[2018-10-24 16:06] ssnjrthegr8 opened #197 "[Request][Contribution] - New Logo/Icon"
Can I contribute to Transistor by designing a new logo and icons for it?

[2018-10-25 18:10] y20k commented on #197
Hi there. Actually I am working right now with a designer on a new logo for Transistor. I am flattered that you want to help out, though. I am always amazed on how people find my little app within the vast pool of apps on the android platform. Thanks!

[2018-10-25 18:16] y20k commented on #191
Okay. I will look into it. Thanks.

[2018-10-27 11:31] #197 closed

[2018-10-31 23:47] niftylettuce opened #198 "feat: add a scrollable list/index of scraped m3u playlist sources"
Or we can recommend something in the app for a directory of m3u streams?

Or perhaps a popular/favorite list sourced from Reddit?

[2018-11-05 04:06] Riotous commented on #194
@y20k I like the new icon, but don't you think the radio is a bit too small for the blue squircle it is inside? Perhaps make it a little bigger?

[2018-11-05 09:54] y20k commented on #194
Hi @Riotous,

the icon is not final. I create the icon set using Android Studio. There you need to scale the [foreground](https://github.com/y20k/transistor/blob/master/assets/transistor-app-icon-current-without-background.png) to match a background (color 3C98DB). The resulting icon are created automatically using this scale factor.

Here a few screenshots of different percent settings:

**67 per

[2018-11-05 18:16] Riotous commented on #194
@y20k I think 72% looks good. Not too big, not too small. 67% leaves a lot of empty space between the radio and the squircle/circle, especially in the Play Store icon, where many people will get their first impression. 80% is definitely too big. Somewhere around 72 -75% is the sweet spot.

[2018-11-05 19:16] y20k commented on #198
Hi @niftylettuce.

Thanks for your suggestion, but I do not have any plans to integrate a radio directory into Transistor. Sorry. See also: #94

Mainly because I want transistor to be a completely stand-alone app. I do not want it to rely on libraries and services I do not control.

We could link to suitable starting point for search in the README.md or in the Wiki here.

[2018-11-05 19:18] y20k commented on #194
@Riotous FYI: The current version of the icon is scaled to 75%

[2018-11-06 09:24] vonglahn opened #199 "Crash"
Hi there,

On my phone (Moto G6/Android 8.0) Transistor crashes sometimes when I press the play button. Not everytime but usualy in the morning. It workes on the second try.

Best Regards

[2018-11-06 10:52] ShadyGaDa commented on #198
These two best I've found.
http://www.radio-browser.info/gui/#/bylanguage/english

http://www.radiosure.com/stations/

[2018-11-08 07:55] c-e-p-x-u-o opened #200 "Oreo adaptive icon shape"
Please add support for icon shape
https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html
https://material.io/guidelines/style/icons.html

[2018-11-08 12:28] #200 closed

[2018-11-08 13:20] y20k commented on #198
If you would like to, you can create a new wiki page here with those links. (not sure if your account is allowed to)

[2018-11-09 08:30] c-e-p-x-u-o commented on #200
thank you

[2018-11-16 19:35] y20k commented on #199
Hi there,

it took me a while to reproduce this issue. But now I know how.

1. in `Settings > Developer options` activate `Don't keep activities`
2. open Transistor and select a station but do not start playback
3. go to home screen (`Don't keep activities` will force quit transistor)
4. open Transistor and press play
5. Crash

Do not forget to turn off `Don't keep activities` since this option wi

[2018-11-16 19:55] y20k commented on #198
This looks on the face of it like a server configuration error. The MIME type Chrome reports is `application/octet-stream` (so does Transistor's error dialog). So the issue might be related to #101. But on the other hand maybe Transistor cannot handle the redirect from http://www.radio-browser.info/webservice/pls/url/105443 to http://www.radio-browser.info/webservice/pls/url/105443/radio.pls?

[2018-11-16 23:04] pelya commented on #198
A lot of servers mark .pls and .m3u files as application/octet-stream. We
can infer the file type from file extension most of the time, in either URL
or in Content-Disposition HTTP header.

On Fri, Nov 16, 2018, 21:55 y20k <notifications@github.com wrote:

[2018-11-17 21:55] y20k commented on #198
@pelya Good idea!! I implemented a `Content-Disposition` [lookup](https://github.com/y20k/transistor/commit/a4eee7225b4d667ff5c234ccab27c7d3356d7cb1) for files of type `application/octet-stream`. I do not want to broaden this lookup to ANY file type. But doing this for application/octet-stream seems reasonable. Thanks.

[2018-11-19 14:40] y20k commented on #199
This issue should be fixed with [v3.1.0](https://github.com/y20k/transistor/releases/tag/v3.1.0). Please re-open, if it still persists. THX

[2018-11-19 14:40] #199 closed

[2018-11-19 14:43] y20k commented on #194
[v3.1.0](https://github.com/y20k/transistor/releases/tag/v3.1.0) is out. It has a new icon. Problem should be resolved. Please open a new issue, if the problem persists.

[2018-11-19 14:43] #194 closed

[2018-11-19 14:53] y20k commented on #198
[v3.1.0](https://github.com/y20k/transistor/releases/tag/v3.1.0) is out. It improves the handling of links from radio-browser.info. Additionally I did a add a section "[Places to look for radio stations](https://github.com/y20k/transistor/wiki#places-to-look-for-radio-stations)" in the Wiki and added a link to this section in [README.md](https://github.com/y20k/transistor/blob/master/README.md).

[2018-11-19 14:53] #198 closed

[2018-11-19 14:56] y20k commented on #101
The URL does not work anymore.

[2018-11-19 14:56] #101 closed

[2018-11-19 15:59] Riotous opened #203 "Feature Request: Add total playtime to notification?"
Not sure if you are familiar with other apps, but most radios have a total playtime counter to see how long you've been listening. Any chance of that little feature making it into Transistor?

[2018-11-21 09:10] JonnyTech opened #204 "Change station icon = crash"
Even though I have granted the storage permission, selecting the change icon menu item it crashes the app - v3.1.0 from fdroid on Oreo 8.0

[2018-11-23 09:05] steelman opened #205 "Offer Transistor as a music playing application when headphones are plugged in"
Android offers users a choice of application to start when headphones are plugged in. AFAIK no code is required, just proper [configuration](https://github.com/vanilla-music/vanilla/issues/325). Please configure Transistor to appear on the list.

BTW. This is a fine app. Thank you.

[2018-11-23 09:50] y20k commented on #204
Hi @JonnyTech,

Thanks for reporting this! I cannot reproduce the issue here. It would be great if you could post step-by-step instructions on how to reproduce. And where exactly the crash occurs.

[2018-11-23 10:01] y20k commented on #205
Hi @steelman ,

Thanks for suggesting this feature. As far as I can see in the [commit](https://github.com/vanilla-music/vanilla/commit/a7bc9c7cc4225a20d06fda3ec87372722db016e8) you mentioned, I would need add CATEGORY_APP_MUSIC in the app manifest. Apps with CATEGORY_APP_MUSIC will show up, when headphones are plugged in (depending on the OS, I think).

Anyway. The [API reference](https://develop

[2018-11-23 10:05] y20k commented on #203
Hi @Riotous,

Thank you for suggesting this feature. I will look into it. If the playtime is easily available from the Exoplayer library, it should be possible(*).

(*) I do not have too many time to spare for Transistor at the moment.

[2018-11-23 10:20] steelman commented on #205
Transistor can be considered a "music application". If we consider how [RFC 2119](https://tools.ietf.org/html/rfc2119) defines "SHOULD", Transistor meets the conditions described in the API reference. And users are still free to choose other applications.

Anyway, as a user I think this way of launching "listening apps" is very convenient.

[2018-11-23 10:55] steelman opened #206 "Save multiple streams as a single station"
Some stations publish lists of their streams as M3U playlists. Oftentimes streams on the lists have the same content at different bitrate. Sometimes URLs on the lists change in time and/or "space". For example to connect users to the closest transmitting server. This is how things might work

1. A user inputs playlist URL when adding a station.
1. Transistor downloads the playlist, saves a list of

[2018-11-23 11:46] y20k commented on #206
Hi @steelman,

I think this would be a nice feature. A good place to select streams would be in the pull-up sheet below the playback controls.

But while it sounds like a small thing, it implies a lot of changes under the hood. I am at the moment a bit time constraint, so that I cannot implement it. I will add the label `help wanted`to this issue.

[2018-11-23 23:56] JonnyTech commented on #204
All that I do is click on the change icon menu item for any station, regardless of whether a station is playing or not, and it crashes.

Below is a log in case it helps:

[code]

I had upgraded from a previous version and station are freshly added.

[2018-11-26 18:33] y20k commented on #204
I am still a bit lost. I will try to reproduce the Issue using the emulator and Android 8. My phone runs 8.1 and is not impacted by the bug. If you find the time: Try to downgrade Transistor to see if this is a new bug in v3.1.0. Cheers

[2018-11-26 18:37] y20k commented on #206
I am closing this issue since I am not going to work on it in the next couple of month.

I did feature the request in [Previous discussions and feature requests #readmefirst](https://github.com/y20k/transistor/issues/48) and in [CONTRIBUTING.md](https://github.com/y20k/transistor/blob/master/CONTRIBUTING.md) to encourage other to help me out here.

Sorry & Cheers

[2018-11-26 18:37] #206 closed

[2018-11-27 01:54] JonnyTech commented on #204
It seems to be a problem with my device. Downgraded right down to the oldest version on fdroid and the problem exists. My other devices running nougat work well. So not sure what is going on. All other apps work correctly. Shall continue investigating...

[2018-11-27 08:59] JonnyTech commented on #204
The problem is that I do not have `Google Photos` enabled. In fact, I have most Google bloatware disabled. Enabling `Google Photos` prevents the crash and lauches `Google Photos` when the menu item is selected.

From what I can work out, `Transistor` is trying to send an **intent** to pick an image:

`Intent pickImageIntent = new Intent(Intent.ACTION_PICK, android.provider.MediaStore.Images.Media.

[2018-11-27 13:00] y20k commented on #204
Good work! THX. I was able to reproduce the crash. The next version of Transistor will incorporate a check if there is a Gallery app available on the device. That prevents at least on my phone the crash. If you want to try it out. Here a test APK:

* [transistor-app-testing-3.1.1-001.apk](https://www.dropbox.com/s/ayr6sznaudl807j/transistor-app-testing-3.1.1-001.apk?dl=0)

[2018-11-27 13:05] y20k commented on #205
I added `CATEGORY_APP_MUSIC` to the manifest. There is a test-version of upcoming v3.1.1 release. If you find the time I would be interested if this provides the feature you requested. On my phone (OnePlus 5) there is no feature that prompts the user after a headphone has been plugged in.

* [transistor-app-testing-3.1.1-001.apk](https://www.dropbox.com/s/ayr6sznaudl807j/transistor-app-testing-3.1

[2018-11-27 14:33] JonnyTech commented on #204
Perfect - that works without crashing - many thanks for the test file (although the Dropbox download mobile experience is awful!). I shall request the the FOSS gallery app that I am using ([Camera Roll](https://github.com/kollerlukas/Camera-Roll-Android-App)) supports the relevant intent.

[2018-11-27 14:33] #204 closed

[2018-11-27 20:05] steelman commented on #205
I am afraid it doesn't work as expected.  I've got only Vanill and the default Music on the screen :-(

[2018-11-28 08:54] y20k commented on #205
Yep. That is the next thing I going to try. I just wanted to make sure not to add unnecessary stuff :smiley:

[2018-11-28 10:00] y20k commented on #205
here an APK in which I also added `<category android:name="android.intent.category.DEFAULT" />`

* [transistor-app-testing-3.1.1-002.apk](https://www.dropbox.com/s/h1vlkf8591kmd0a/transistor-app-testing-3.1.1-002.apk?dl=0)

[2018-11-28 19:43] steelman commented on #205
:1st_place_medal:

[2019-01-02 16:42] y20k commented on #189
I upgraded my phone to Lineage OS - and now I am able to test the AudioFX integration. I think I found a solution. Are you interested in testing?

* [transistor-app-testing-3.1.1-001.apk](https://drive.google.com/file/d/1D7zQtxafNmR11PkpGI_E0KNgEVFuDO0y/view?usp=sharing)

PS. Happy New Year 🎆

[2019-01-03 08:40] cyberbix commented on #189
Great! I'll try and give you feedback.

Greets.
Peter

________________________________
Von: y20k <notifications@github.com>
Gesendet: Mittwoch, 2. Januar 2019 17:42
An: y20k/transistor
Cc: cyberbix; Author
Betreff: Re: [y20k/transistor] Audio is not routed through AudioFX on LOS 15.1 (#189)

I upgraded my phone to Lineage OS - and now I am able to test the AudioFX integration. I think I found a s

[2019-01-03 09:46] y20k commented on #189
Hi.

Me again. I found a bug in my AudioFX integration. The app crashes after playback has been stopped - you need to wait a couple of minutes. This version here should prevent the crash.

* [transistor-app-testing-3.1.1-002.apk](https://drive.google.com/file/d/1ihaBsfrMoFimuOsOa9EqSftg4PSl2tdH/view?usp=sharing)

[2019-01-03 20:40] cyberbix commented on #189
Tested on LOS 15. Works like a charme. Great job.

________________________________
Von: y20k <notifications@github.com>
Gesendet: Donnerstag, 3. Januar 2019 10:46
An: y20k/transistor
Cc: cyberbix; Author
Betreff: Re: [y20k/transistor] Audio is not routed through AudioFX on LOS 15.1 (#189)

Hi.

Me again. I found a bug in my AudioFX integration. The app crashes after playback has been stopped - yo

[2019-01-04 10:03] y20k commented on #189
@cyberbix thankyou for testing! I think I will wait a couple of days before I publish a new version in the Play Store. I would like to make sure that no new bug was introduced. If you find anything unusual in the next few days please drop me a note.

[2019-01-08 16:16] FAndSec commented on #21
Hello, I know you have closed this issue but we have a solid fix for this bug, and also the bug in @btimofeev 's comment. Note that you registered a BroadcastReceiver to listen for a self-defined action ACTION_IMAGE_CHANGE_REQUESTED in the context of Application. When user presses the back button in the resumed state of your MainActivity. The onDestroy callback of the activity is called, so does t

[2019-01-08 16:17] FAndSec commented on #21
Hello, I know you have closed this issue but we have a solid fix for this bug, and also the bug in @btimofeev 's comment. Note that you registered a BroadcastReceiver to listen for a self-defined action ACTION_IMAGE_CHANGE_REQUESTED in the context of Application. When user presses the back button in the resumed state of your MainActivity. The onDestroy callback of the activity is called, so does t

[2019-01-09 10:45] FAndSec commented on #21
Hello,

1. Unregistering receiver in onStop or onPause raise new bugs. The second time the user wants to change icon, the image selection Activity won't show.

reason: onPause and onStop of MainActivityFragment will be called in sequence when user leaves current activity, so first time user change icon, app works fine. However, since receiver is already unregistered, second time trying to change i

[2019-01-15 11:59] y20k commented on #189
@cyberbix is the test version still running fine? if so, I think I can publish the changes.

[2019-01-15 12:13] cyberbix commented on #189
Run´s almost every day, audio routing still goes through AudioFX !

Great work. Thanks again.

Von: y20k <notifications@github.com>
Gesendet: Dienstag, 15. Januar 2019 12:59
An: y20k/transistor <transistor@noreply.github.com>
Cc: cyberbix <peter@cyberbix.de>; Mention <mention@noreply.github.com>
Betreff: Re: [y20k/transistor] Audio is not routed through AudioFX on LOS 15.1 (#189)

@cyberbix<https:

[2019-01-15 13:47] dropdrop20 opened #207 "Autostart a radio station"
I want to blindly start  Transistor with AutoStart (AutoStart No root_v2.2) and have a choosen station run. Unfortunately Autostart will start only applications not shortcuts on my  phone launcher.

It's possible to add it?
If to much work, can you please give a diff to just hardcode for my own purpose  a station?

[2019-01-16 11:24] y20k commented on #205
I published a new version ([v3.1.1](https://github.com/y20k/transistor/releases/tag/v3.1.1)) of Transistor earlier today that includes the new feature. It is available on Google Play and will be on F-Droid soon (It may take up to a few days until F-Droid will pick up and process the changes.). I think this issue can be closed.

[2019-01-16 12:47] #205 closed

[2019-01-16 12:51] y20k commented on #189
I published a new version ([v3.1.1](https://github.com/y20k/transistor/releases/tag/v3.1.1)) of Transistor earlier today that includes the new feature. It is available on Google Play and will be on F-Droid soon (It may take up to a few days until F-Droid will pick up and process the changes.). I think this issue can be closed.

[2019-01-16 12:51] #189 closed

[2019-01-17 12:20] y20k opened #208 "Tap on Sleep Timer results in crash"
Tapping the Sleep Timer icon directly after opening the app results in a crash.

[2019-01-21 12:45] y20k opened #209 "Metadata says "Loading stream ..." after recovering stream"
This issue cam in via email:

[2019-01-23 19:42] y20k commented on #208
fixed in [v3.1.2](https://github.com/y20k/transistor/releases/tag/v3.1.2)

[2019-01-23 19:42] #208 closed

[2019-01-23 19:49] y20k commented on #170
Hi @stardomains

I was just looking through the open issues tonight. I tried to reproduce the problem you described, but failed. If you find the time: Can you confirm this, too?

Best regards

[2019-01-28 16:25] 532910 opened #210 "ugly stream icons"
A lot of space is eaten with a useless grey outline:

![screenshot_20190128-191743_transistor](https://user-images.githubusercontent.com/14617699/51849971-d70f8900-2331-11e9-8bdf-00c1725a7679.png)

[2019-01-28 16:30] 532910 opened #211 "ugly shortcut icons"
1. The icon is not oreo-adaptive.
2. The stream picture is too small.
3. Useless grey radio background. The small blue transistor sticker is enough to understand what the app is it.

![image](https://user-images.githubusercontent.com/14617699/51850355-9f551100-2332-11e9-8a5e-8815cef8c93d.png)

[2019-01-29 04:37] c00ller opened #212 "Bug with media volume during Android Auto Google Maps Navigation"
I primarily use Transistor while in Android Auto. It works great. I noticed however that there would be times when the media volume would get very low. Today I noticed when it happened and here is how to reproduce it:

1) Open Android Auto
2) Have Transistor play music
3) Start Google Maps navigation. Make sure audio/voice guidance is not muted.
4) Wait for a time when the navigation software give

[2019-01-29 12:46] y20k commented on #210
Hi @c-e-p-x-u-o ,

Transistor tries to grab favicons (for example this [one](https://www.radiobremen.de/favicon.ico)). The current size seemed to be the maximum to which a standard 16x16 favicon can be resized.

You can change the station icon manually. In that case you most definitely will have a larger icon. So I could treat larger icons differently. That in turn would lead to a confusing / ugly

[2019-01-29 13:58] y20k commented on #211
This issue is related to #210. I will change the shortcut icons, if there is a good solution for larger icons without the grey back in the main app.

[2019-02-01 05:56] martinstingl opened #213 "Feature Request: Add a fine grained volume control"
The buillt in volume adjustment in Android is very coarse. Often too coarse, especially when listening at low listening volumes you often want to have intermediate steps.

According to https://android.stackexchange.com/questions/46979/ there is no easy way to get a finer resolution within Android.

It would be fine if transistor had its own fine grained volume control.

[2019-02-01 19:45] y20k commented on #212
Hi @c00ller Thanks for reporting. Especially for trying (und succeeding) a way to reproduce this bug. I will try to fix it. I am a bit busy a the moment, so don't expect a quick fix 🙂

[2019-02-01 20:02] y20k commented on #213
Hi @martinstingl Thanks for suggesting this feature! I thought about it. I in general understand the problem, but I came to the conclusion that this feature would not be a good fit for Transistor. Transistor is supposed to be a very bare bones app with as few features as possible. In my point of view a custom volume control is not part of the basic core functionality a radio app should offer. Addi

[2019-02-01 20:02] #213 closed

[2019-03-18 11:23] hosewiejacke opened #217 "Play password protected streams"
First of all: thanks for this app! :thumbsup:

One of the streams I'd like to add to Transistor is password protected. It has this form: `http://USERNAME:PASSWORD@example.com/stream`. Is there a trick how to convince Transistor to add (and play) such a URL?

[2019-03-27 12:59] y20k commented on #217
@hosewiejacke I am curious. Did it work?

[2019-03-27 20:06] hosewiejacke commented on #217
@y20k, thanks for asking! Sorry for not giving you a feedback earlier.

Unfortunately, the trick didn't work for me. It seems my device (running LineageOS) uses `/data/data/` instead of `/Android/data`. So I created the file `/data/data/org.y20k.transistor/files/Collection/test.m3u`. But Transistor didn't show the station.

After some looking around I found `/data/data/org.y20k.transistor/shared_p

[2019-03-31 07:14] HoWilgh opened #218 "only show or update currently playing"
Hi,
I sometimes use transistor to find out which song is currently playing on my favorite radio station (when listening via Fm).
I suggest the possibility to update the "currently playing" entry without starting to play the stream.
It's this easily possible?
BR,
Howil

[2019-04-30 15:33] y20k commented on #218
I know exactly what you mean :-).

Anyway. The metadata is embedded in the stream. I would need to start a "silent" stream each time a station is selected. That is way too much network-load for such a feature. So I think I will offer such a feature. Sorry. But I like the idea. 😃

[2019-04-30 15:33] #218 closed

[2019-04-30 15:39] y20k commented on #217
I totally forgot to answer. I tried out this stream, but I could not get it to work. That is not to say that this is not possible. Authentication is not rocket science. But I am very short on time and this is an edge case feature. That is why I am closing this issue.

I am adding it to the issue [Previous discussions and feature requests #readmefirst](https://github.com/y20k/transistor/issues/48).

[2019-04-30 15:39] #217 closed

[2019-04-30 15:41] #211 closed

[2019-04-30 15:44] y20k commented on #210
I still have no idea how to solve this problem. 16x16 is just too small for larger icons. I am adding this issue to [Previous discussions and feature requests #readmefirst](https://github.com/y20k/transistor/issues/48). Maybe another contributor wants to give a try.

[2019-04-30 16:02] y20k commented on #207
Sorry for answering so very late!

I don't know AutoStart. But if it supports starting an app with Intent Extras, you might want to have a look here: [Useful ADB commands](https://github.com/y20k/transistor/wiki#useful-adb-commands).

There are definitely automation apps out there that support Intent Extras. Tasker (which I do not have in use currently) does support Intent Extras (see this [Guide]

[2019-04-30 16:02] #207 closed

[2019-04-30 17:40] hosewiejacke commented on #217
I totaly understand. Thanks for taking a look at it!

[2019-04-30 18:16] HoWilgh commented on #218
I suggest to add an update button which gives a hint when used the first time. The used data should be in the 100kb range??
You are right that an update for each stream when selecting it would generate to much traffic.

[2019-05-03 17:56] 532910 commented on #210
All station images on the screenshot are manually defined and are 400x400 px size.

[2019-05-03 17:59] 532910 commented on #211
No, this issue is mainly about to remove grey radio background and making icon adaptive shape.

[2019-05-03 18:00] 532910 commented on #210
Please reopen untill fixed.

[2019-05-03 20:29] y20k commented on #210
**Okayokay :-) Let me give it a second try.**

My main concern are NOT the manually added icons, but the default 16x16 icons that Transistor gets from the Webserver. They look pretty bad when blown up.

Anyway. Since you are so insisting, I thought I could give the idea at least a try. And I must say that I kind of like the results. They definitely look nice with high-res station images.

Interest

[2019-05-03 20:58] 532910 commented on #210
Awesome!
![image](https://user-images.githubusercontent.com/14617699/57165302-5748fd00-6dff-11e9-9d9a-8204c9b4d533.png)

[2019-05-03 21:02] 532910 commented on #210
Home screen icons become adaptive, without useless gray radio background, but still ugly:

![image](https://user-images.githubusercontent.com/14617699/57165389-9d05c580-6dff-11e9-8632-d12d17101a71.png)

[2019-05-04 06:22] y20k commented on #210
I did not optimize the home screen icons yet. I will drop the radio icon background to see what this would look like. I will drop you a note, when I am done with that.

[2019-05-04 23:18] Pentaphon commented on #210
Thank god. This looks so much better now.

[2019-05-06 14:31] y20k commented on #210
I did change the way home screen icons are composed. They are now just the station icon with the app icon overlayed by the system.

* [transistor-app-testing-3.1.3-002.apk](https://drive.google.com/file/d/1uDXLrXz2l7rbIUt0NAMDLsd-qy3-CuTg/view?usp=sharing)

Also: Station icons now have slightly rounded corners.

[2019-05-06 23:46] 532910 commented on #210
I see no difference with 3.1.3-001

Looks fine.

[2019-05-07 04:59] y20k commented on #210
Which version of Android are you using? I will try to replicate the behavior in an Emulator (setting new shortcuts works on my phone as described). Cheers

[2019-05-07 09:53] y20k commented on #210
Just a short note: I can reproduce to incorrect behavior of the create shortcut feature now too. I am on it.

[2019-05-07 11:28] 532910 commented on #210
LineageOS 16.0 Android 9

[2019-05-07 13:41] y20k commented on #210
Same here. I made a screen recording on my phone. I think it works now as intended. Here is an updated APK:

* [transistor-app-testing-3.1.3-003.apk](https://drive.google.com/file/d/1T9s1lnZ8XrV40ag4jdDtmU82UAPMwWeo/view?usp=sharing)

You may need to uninstall and re-install the test app.

![create-shortcut](https://user-images.githubusercontent.com/9103935/57303808-69b48680-70de-11e9-90cb-e059db2

[2019-05-07 13:49] 532910 commented on #210
Unfortunately no:
![image](https://user-images.githubusercontent.com/14617699/57304390-eac44b80-70e7-11e9-9443-4505f6dcae2d.png)

[2019-05-07 14:07] y20k commented on #210
:-(

If you closely compare the screenshot you sent today with the one you sent yesterday, you can see that yesterday the old radio icon was still on a layer behind the station icon. The grey antenna was peeking out from behind.

The strange thing is that there is a white border around the station icon. That maybe a feature of the LOS launcher (I am using Nova Launcher). Not sure if I can do anyth

[2019-05-07 14:13] 532910 commented on #210
Yes, I've noted this. 3.1.3-003 looks better than 3.1.3-001

It's definitely not a Trebuchet (LOS launcher) problem as contact shortcuts has no white border at all:

![image](https://user-images.githubusercontent.com/14617699/57306331-4e9c4380-70eb-11e9-923c-ed82a473cb74.png)

[2019-05-07 15:55] y20k commented on #210
Just a question. Those contact icons are cropped, right? Should Transistor crop the station icons as well?

[2019-05-07 16:35] y20k commented on #210
Pointing me to the LOS Contacts app helped. I found out what they are doing differently. The contacts app uses [`IconCompat.createWithAdaptiveBitmap(icon)`](https://github.com/LineageOS/android_packages_apps_Contacts/blob/cd6ccaff99386a173bbbe1814274bc297e352b60/src/com/android/contacts/ShortcutIntentBuilder.java#L302).

Anyway. I compiled an APK using this method. What do you think? Better? The i

[2019-05-07 17:26] y20k commented on #210
Note to self: I should add 25% colored padding to the station icons, when used as home screen shortcuts, to not have them cropped. See: https://source.android.com/devices/tech/display/adaptive-icons#known-issues

[2019-05-08 20:13] 532910 commented on #210
Wow! You are reading my mind! Yesterday I thought how it should look in my ideal world and how to describe it and today you've implemented this. Awesome!

![image](https://user-images.githubusercontent.com/14617699/57405347-e29f0580-71e6-11e9-9563-bef0aa67d014.png)

[2019-05-08 20:14] 532910 commented on #210
Wow! You are reading my mind! Yesterday I thought how it should look in my ideal world and how to describe it and today you've implemented this. Awesome!

![image](https://user-images.githubusercontent.com/14617699/57405347-e29f0580-71e6-11e9-9563-bef0aa67d014.png)

[2019-05-08 20:14] 532910 commented on #210
Wow! You are reading my mind! Yesterday I thought how it should look in my ideal world and how to describe it and today you've implemented this. Awesome!

![image](https://user-images.githubusercontent.com/14617699/57405347-e29f0580-71e6-11e9-9563-bef0aa67d014.png)

[2019-05-09 20:00] y20k opened #219 "POLL: Should Transistor leave Google Play?"
A couple of month ago I installed [LineageOS for microG](https://lineage.microg.org/) on my phone.  LineageOS for microG is an Android distribution that comes with the [F-Droid](https://www.f-droid.org) store preinstalled. I must say, since I was using mainly Open Source apps before, I really did not miss the Google Play Store much. That made me think: Should I pull Transistor from Google Play. I

[2019-05-09 20:10] JonnyTech commented on #219
Ditto on your comments - I have not used Google Play Store in years - people can grab the app from F-Droid or the GitHub release pages.

[2019-05-11 19:38] blausand commented on #219
That decision is of a higher scope, i think.
I'm not using _Google_ at all (not even GSF), so i'm pretty pissed that many apps, even publicly funded ones aren't published outside _Play Store_.

As a means to keep apps updatable, a **repository model is favorable to publishing APKs directly** on the net and the _F-Droid_ client is by far the best choice here since you can add third party repos.
On

[2019-05-12 16:07] y20k opened #220 "Change App Icon Color to Red"
Since we are in the midst of a small layout refresh (see #210), I thought it maybe a good time to change to main app icon color from the somewhat less beloved blue back to the [original](https://raw.githubusercontent.com/y20k/transistor/v3.0.12/assets/transistor-app-icon-current.png) red.

<a href="https://raw.githubusercontent.com/y20k/transistor/master/assets/transistor-app-icon-current.png"><im

[2019-05-14 23:48] ivellios1988 opened #221 "Making own app based on Transistor"
Sorry if this question is a little stupid. Can users create their own apps based on Transistor? I'm looking for a solution to create an official app for my web radio and, so far, Transistor seems to be the only app that suits my needs (simplicity, ability to play OPUS streams with no problems, etc.). Can I use the source code of Transistor for my own app?

[2019-05-15 12:30] y20k commented on #221
Sure - go ahead. You should change the name of the app and give it a new icon. Have fun

[2019-05-18 06:47] ainola commented on #219
The benefit of the play store is that it has is a much wider audience. If you're fine with losing discoverability with most of the general population then I'd say go for it. Mobile app stores are poison.

[2019-05-22 13:50] nowster commented on #219
The Play Store version seems to be the only one that works with Android Auto.

[2019-05-22 13:57] nowster opened #222 "Support for Metadata from Ogg streams"
Enhancement: Show metadata from Vorbis or Opus streams.

If the ancient XiiaLive can do it (VLC also), it must be possible.

[2019-05-23 22:16] Pentaphon commented on #219
@y20k No. Keep it there. The Play Store needs more open source apps like yours.

[2019-05-27 15:00] y20k commented on #219
A valid argument.

[2019-05-27 15:09] y20k commented on #222
I am considering to ditch the current metadata extraction code in favor of the [new](https://medium.com/google-exoplayer/exoplayer-2-10-whats-new-15d344eaa8b9) option to extract ICY metadata natively ([MetadataComponent](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.MetadataComponent.html)). I am not sure if that would fix this issue.

[2019-05-27 17:13] JonnyTech commented on #219
What can be done to make the fdroid build work with android auto?

[2019-05-27 23:34] nowster commented on #222
ICY metadata doesn't get you title metadata from Ogg streams. It'll only get you the station name/description.

[2019-05-28 12:31] y20k commented on #222
In that case I will flag this issue as `help wanted`, since in the foreseeable future I will probably not find the time to implement a custom metadata extractor for OGG myself.

If anyone is interested in providing a solution, please contact me first. I can a bit picky regarding the implementation details. 😃

[2019-05-28 12:36] y20k commented on #219
As far as I know: Android Auto will only run apps that are certified to run. An app gets certified for Auro during the Play Store app submission process. So I think: F-Droid apps will never run on Android Auto.

[2019-06-13 20:38] 532910 opened #223 "wrong sample rate"
[code]

![image](https://user-images.githubusercontent.com/14617699/59465581-e9e3af80-8e33-11e9-8d12-158c667fcd3f.png)

[2019-06-26 13:52] y20k commented on #223
Thanks for reporting this error!!

Transistor gets the information about the sample rate of a stream from the library ExoPlayer, that the app uses for playback. There is not much I can do here. I could file a bug upstream I guess.

[2019-06-27 03:18] 532910 commented on #223
You should hide sample rate to not confuse users untill it correct.

[2019-06-29 15:00] tastytea opened #224 "Playback stops after each song with MPD + opustags"
Transistor version: 3.1.2 (F-Droid)
MPD version: 0.21.10

I stream music via MPD's httpd-output. When `opustags` is set to "no", transistor is playing it fine. When `opustags` is set to "yes", transistor stops after each track but the dot is still green. I believe the issue may be that [“With opustags yes, MPD needs to start a new Ogg stream after each song change, because only a new stream is all

[2019-06-30 09:48] #221 closed

[2019-06-30 09:49] #210 closed

[2019-06-30 09:49] #220 closed

[2019-06-30 09:59] y20k opened #225 "Use official ExoPlayer metadata feature"
Since a couple of weeks ExoPlayer has an official way to get metadata from IceCast streaming servers (see [post](https://medium.com/google-exoplayer/exoplayer-2-10-whats-new-15d344eaa8b9) on Medium). Transistor should really use this - since I somewhat participated in the [discussion](https://medium.com/google-exoplayer/exoplayer-2-10-whats-new-15d344eaa8b9) around this.

Using this feature might

[2019-06-30 11:43] y20k commented on #225
If anyone is interested in testing. Here is a preview of the upcoming version 3.2.1 that includes the new metadata extraction.

* [transistor-app-testing-3.2.1-001.apk](https://drive.google.com/file/d/1o6hiOACnizhXLiAR_oRjqwdoYUOGfo7g/view?usp=sharing)

[2019-06-30 11:52] y20k commented on #191
Hi there,

I changed the way metadata gets extracted from radio streams. As a side product this seems to have resolved the issue with cyrillic characters.

![Screenshot_1561895355](https://user-images.githubusercontent.com/9103935/60396187-34f10880-9b3e-11e9-8ecb-2a20d30a0371.png)

I have an official test version for the next release of Transistor. If you are interested head over to #225.

[2019-06-30 12:03] y20k commented on #224
I am not sure, but this problem maybe related to the following issue:

* [Certain OPUS streams do not show "artist - title" and stop playing on song change](https://github.com/y20k/transistor/issues/158)

Just an observation. I am not sure, if I know, how to fix it, though.

[2019-06-30 12:29] Symbian9 commented on #191
Thanks! I will test it and if there would be no such issues will close this issue thread.

[2019-06-30 13:30] tastytea commented on #224
I think I've found the cause. I had `tags` and `opustags` both set to "yes" in the MPD config. I guess it sent 2 different kind of tags.

It works if I set `tags` to "yes" and `opustags` to "no" or `opustags` to "yes" and `tags` to "no", both with 3.1.2 and the testing release.

[2019-06-30 13:37] #224 closed

[2019-07-02 03:18] 532910 commented on #219
Not all people have (or are able to install) F-Droid. So while it's not complicated for you to put in on GPlay, please put in on GPlay.

[2019-07-06 14:34] CryptAnalitic opened #226 "Please add support radio station site"
Hello, y20k !

Please add support radio station site :
http://www.radio-browser.info/

This site support link on 24521 internet radio stations

[2019-07-06 20:29] y20k commented on #226
Hi @CryptAnalitic

thanks for your suggestion!! Can I refer you to the following issue: [work together? #94](https://github.com/y20k/transistor/issues/94) - and the linked issues there (#114, ...) ?

Short version: I was (and still am) considering an integration, but I am probably not going to implement it, because:
1) I do not have the time
2) I am skeptical when it comes to rely on third parties

[2019-07-07 19:08] CryptAnalitic commented on #226
Hi @y20k  !

This service is open source :

Open source support open source
-------------------------------------------
_1.I do not have the time_

:^( Badly

Best regards,CryptAnalitic

[2019-07-08 19:20] jadedgnome commented on #163
this doesn't work for me, it saids "[File probably does not contain a valid streaming URL.]"

http://www.wnyc.org/stream/wnyc-fm939/mp3.pls

[2019-07-09 07:37] #226 closed

[2019-07-09 07:43] y20k commented on #163
@jadedgnome
The https version works.
https://www.wnyc.org/stream/wnyc-fm939/mp3.pls

I will create a new issue / bug report: Transistor should follow 301 redirects to https - which I thought it already did.

[2019-07-25 11:52] y20k commented on #225
[v3.2.1](https://github.com/y20k/transistor/releases/tag/v3.2.1) contains the new metadata feature - I am closing this issue

[2019-07-25 11:52] #225 closed

[2019-07-25 11:55] y20k commented on #209
Please anyone, if this issue continues to be a problem, reopen. I deployed a new metadata extraction feature, which potentially solves the problem. See [v3.2.1](https://github.com/y20k/transistor/releases/tag/v3.2.1)

[2019-07-25 11:55] #209 closed

[2019-07-25 11:58] y20k commented on #191
I hope that [v3.2.1](https://github.com/y20k/transistor/releases/tag/v3.2.1) solves the issue. If not please re-open it.

[2019-07-25 11:58] #191 closed

[2019-07-31 23:37] jamal2362 opened #227 "Add Next/Previous KeyEvent for non Android Auto"
Hello,

I own a Android Head Unit (MTCE) device for my car and ask for a feature.

Is it possible to implement KEYCODE_MEDIA_NEXT and KEYCODE_MEDIA_PREVIOUS into the App?

When I use my steering wheel control in car to press up or down in other apps, it automatically jumps to the next station or back.

Could you try adding it?

Thank you for the great work!

Best regards,
Jamal2362

[2019-08-01 07:15] y20k commented on #219
Thanks for participating. I will keep Transistor on GooglePlay. Although I do not like GooglePlay, it does not hurt to have the app there.

[2019-08-01 07:15] #219 closed

[2019-08-01 08:59] y20k commented on #227
Hi there, I did try to implement support for Next/Previous buttons on headphones. I did not work out. See: https://github.com/y20k/transistor/issues/89#issuecomment-397285861
I think enabling this feature on a Head Unit will run in the same problem.

[2019-08-01 12:22] jamal2362 commented on #227
Thank you for the Reply!

I have spend more than 20 hours to get it to work without any success.
Thats why i open an issue, because i need your help.
I hope there is some way for it to work, I think there are missing codes in the PlayerService

Sorry for my bad english.

[2019-08-01 13:12] y20k commented on #227
It has been a while since I looked at this. But as far as I can see: The `StationListProvider` in the playback service needs to be initialized for the Skip feature to work. And `StationListProvider` only gets initialized when connected to Android Auto.

Since you are using a Head Unit, maybe the `PackageValidator` does not recognize the HeadUnit. Do you see the message "OnGetRoot: Browsing NOT ALL

[2019-08-01 13:44] jamal2362 commented on #227
This message is not displayed in Logcat!
There is not according to Log!

So the car radio is like a Smartphone/Tablet from the system...

If I want to trigger a key in the terminal no matter if smartphone or car radio, with the command "input keyevent 87 and 88" he can go to the next station with other apps, but not with this app.

How do I create a cert?

Here a picture from my Radio with the App

[2019-08-01 14:03] y20k commented on #227
Ah interesting. You setup looks like as if table was built into a car. Then we are back to the point where I was [last year](https://github.com/y20k/transistor/issues/89#issuecomment-397285861) :-/

The Skip feature I implemented for Android Auto (see below) relies on the `StationListProvider` to be initialized. BUT the `StationListProvider` is only used in car-mode. You are using the app in norma

[2019-08-01 14:08] jamal2362 commented on #227
The only thing that works on the head unit/smartphone is to start or stop playback with the app.

That's not a problem, so I asked if it might be possible to add it.
If this is not so easy then it is not a problem.
I thank you for what you have done so far. :)

[2019-08-05 12:41] Pentaphon opened #228 ".pls link does not open when paste, but same .pls file opens correctly when opened with Transistor"
This is Transistor 3.2.1 on an Android 7.1.2 device.

When pasting the following link: https://streams.infowars.com/listen.pls

I get the following message:
![snap](https://user-images.githubusercontent.com/49374058/62465179-256b6d80-b743-11e9-9f58-e118d8f622e6.jpg)

However, when I download the listen.pls to my phone and open the listen.pls with a file manager, using Transistor as the app to "ope

[2019-08-05 15:07] y20k commented on #228
There seems to be something wrong with the ssl cert of that server. I get the following error message on the console: `javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.`

Transistor could ignore those kinds of security errors, but I think that would be bad practice.

Adding http://streams.infowars.com/listen.pls works

[2019-08-05 15:07] #228 closed

[2019-08-06 00:31] Pentaphon commented on #228
Fair enough. Thanks for looking into it.

[2019-08-08 15:02] 532910 opened #229 "crash on resuming playback by play/pause button on wired headset"
[code]

[2019-08-11 18:28] y20k commented on #229
Hi @532910. Thanks for sharing this crashlog. I am not sure what to make of the report. :-/ Any idea of how I could reproduce the problem?

[2019-08-11 18:30] y20k opened #230 ""Add station" button disappears when timer is ON"
This one came in via E-Mail: "Add station" button disappears when timer is ON
![Screenshot_2019-08-01-16-02-53-855_org y20k transistor](https://user-images.githubusercontent.com/9103935/62838011-c774e380-bc76-11e9-87a0-e0d768beed4a.png)

[2019-08-11 18:39] 532910 commented on #229
I know how to reproduce it!

1. Open transistor.
2. Start stream to play.
3. Stop playing.
4. Close transistor.
5. Press handsfree button -> Transistor has stopped!

[2019-08-11 18:40] 532910 commented on #229
really not sure if steps 2 & 3 are requered

[2019-08-11 18:43] y20k commented on #229
Thanks. Great. Two questions:

1. By "Close Transistor" you mean swiping it off from the app switcher?

2. "Press handsfree button" -> Do you mean the headphone button or a button in a car?

[2019-08-11 19:06] 532910 commented on #229
1. yep
2. i mean play/pause/answer button on the wired handsfree than short circuits the mic
https://electronics.stackexchange.com/questions/242883/how-do-media-buttons-on-a-plain-wired-headset-work

[2019-08-11 20:02] y20k commented on #229
Ah thanks. I have one of those lying in my drawer. I will test and try to reproduce the problem. :sunglasses:

[2019-08-12 14:20] y20k commented on #229
I was not able to reproduce the problem using your instructions. But I experienced similar crash
`Reason: Context.startForegroundService() did not then call Service.startForeground()`
using a different set of steps - also involving pressing the handsfree button. Unfortunately I cannot remember what exactly I did. :-/ I will keep trying to reproduce this.

[2019-08-12 16:52] 532910 commented on #229
Does playback start with the play/pause button in your case?

[2019-08-12 17:22] 532910 commented on #229
I'm using MicroG Lineage 16.0 on OP3T, but it's not an system issues as when I repeat steps 1-5 for soundcloud, it start to play from the moment I stop it.

[2019-08-12 20:50] 532910 commented on #229
OP3T with OpenGAPPS Lineage 16.0 & Transistor from GPlay:
[code]

[2019-08-12 20:55] 532910 commented on #229
The log from my OP3T @ MicroG Lineage 16.0:
[code]
some linphone messages cropped
[code]

[2019-08-15 23:00] Methaneus commented on #222
Would like to see this too. Is there no premade FOSS implementation?

[2019-08-16 10:24] moskytos opened #231 "tracks history list (recently played tracks)"
Hi,

It would be great if the app could automatically generate recently played tracks/songs history list and possibly if user can then mark some of tracks as favorite.

Please consider this and thanks a lot for this great app.

[2019-09-09 15:35] y20k commented on #231
Hi there. Thanks for the feature suggestion. I too found myself wanting to know which song it was, that was playing before the one currently playing. Problem is that I am a bit short on time right now. I will flag this issue as `help wanted`.

[2019-09-09 15:57] y20k commented on #222
ExoPlayer does extract various kinds of Metadata. See here for full list: https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/metadata/Metadata.Entry.html
Maybe [VorbisComment](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/metadata/flac/VorbisComment.html) is the correct one. Not sure though.

[2019-09-09 16:03] y20k commented on #229
Side note: I am running MicroG Lineage OS 16 on an OnePlus phone, too. The problem should not be related to the OS, since I cannot reproduce it using your description. Are you using an automatic app closer/killer, or something related?

[2019-09-09 17:12] 532910 commented on #229
What is automatic app closer? Looks like I don't use is a I don't know.

[2019-09-27 06:07] 532910 commented on #229
Do you close Transistor (swipe off from app switcher) before pressing play button? I've just noted, that if I don't close it — start/stop works fine.

[2019-10-06 01:42] gnusuari0 opened #233 "Feature request: audio recording"
It'd be nice to be able to record the stream being played as if it was a traditional FM radio application.

[2019-10-16 13:07] y20k commented on #233
Can I refer you to a similar request? https://github.com/y20k/transistor/issues/156
tldr; a record feature is more complicated than one would think

[2019-10-20 21:16] tingsu opened #234 "rename a station failed when cancel a deletion"
Thanks for developing this awesome app! I have found an issue and list the details as follows.

- I have searched the history issue list, and have not found similar issues.

- The issue was found in the latest release version 3.2.2 from Google Play (this version is also the latest code commit), and were reproduciable on both a Google Plxel 3 and an Android emulator 6.0 device.

- Reproduction step

[2019-10-20 21:54] tingsu opened #235 "select the deletion option and cancel it will unexpectedly cancel the sleep timer"
Hi, I feel this issue is a little annoying, if fixed, will improve user experience a lot.  I detail this issue as follows.

- I have searched the history issue list, and have not found similar issues.

- The issue was found in the latest release version 3.3.2 from Google Play (this version is also the latest code commit), and were reproduciable on both a Google Plxel 3 and an Android emulator 6.0

[2019-10-21 08:29] tingsu commented on #234
I noted this issue #164 (i.e., ``SCENARIO 3``), which may be related to the issue I reported here.

But I followed a different usage scenario (try to delete the station but cancale it). I found the station's name will be the changed back if I close and restart the app. Is this issue caused by view refresh issue?

[2019-10-21 09:48] tingsu opened #236 "duplicate playback indicator appears on two stations"
- I have searched the history issue list, and have not found similar issues.

- The issue was found in the latest release version 3.2.2 from Google Play (this version is also the latest code commit), and were reproduciable on both a Google Plxel 3 and an Android emulator 6.0 device.

- Issue description

1. import two stations (e.g., ``A`` and ``B``),

2. long press the station ``A`` to start the

[2019-10-25 13:40] y20k commented on #236
Hi there. Thank you for the bug report. That is ugly. I will look into this.

[2019-10-25 14:18] y20k commented on #235
This behavior is not really an error. Let me explain.

First the sleep time is always cancelled, when you stop playback. The main problem is: Playback needs to stop in this app, when you try to delete a station. The reason is an weakness in the main architecture of the app, that bytes me here and in some other places (e.g. Android Auto), too. The background service that plays streams and the UI th

[2019-10-25 14:18] #235 closed

[2019-10-25 14:21] tingsu commented on #236
Thanks @y20k ! Let me know if you need more info from my end.

[2019-10-25 14:22] y20k commented on #234
Hi. Thanks for this bug report. I will look into it.

[2019-10-25 14:26] tingsu commented on #234
Thanks @y20k ! I observe this issue affects several functionalities around it. It is more serious than the other ones I reported. If you need more info, just let me know. Thanks for coming up this nice app! Hope it will get better.

[2019-10-25 14:31] tingsu commented on #235
Thanks for your detailed explanation, @y20k . I can understand the complexity if fixing this issue. Yep, the asynchrony between the background service and the UI reallys do bring some trouble, and I can foresee the effort to fix this issue will be large if adjusting the architecture. Then let's temporarily just keep this for now.

[2019-10-25 15:38] y20k commented on #236
You bug report is excellent. No need for further assistance for now. THX.

[2019-10-25 15:43] y20k opened #237 "App crashes when stopped from Android Auto"
This one came in via email -> App crashes when stopped from Android Auto

Steps to reproduce:

1. make sure Transistor is closed (swipe it off in the app switcher)
2. open Android Auto
3. start playback for a station
4. leave and quit Android Auto while playing
5. Transistor crashes

Expected behavior: The Transistor should continue to playback the stream.

[2019-10-25 15:53] y20k commented on #237
If anyone wants to test the fix for this. Here is a signed APK;

* [transistor-app-testing-3.2.3-001.apk](https://drive.google.com/file/d/1gzGt82xY8V8QOq0mQIXaF6kVdyWg-nAv/view?usp=sharing)

[2019-10-25 23:47] selfisekai opened #238 "advanced stream adding options"
some stream URLs are problematic for the app (for example: http://3.dktr.pl/m3u.php can't be recognized as m3u by file extension).
there should be some advanced settings to force  choose the stream format.

[2019-10-27 20:17] y20k commented on #238
I am a bit hesitant to add that feature to the user interface. Unexperienced users might try to add weird stuff, if there is no check from the app.

For the hardcore users there has always been the option to edit the m3u files, that Transistor uses to store radio stations, directly using a text editor. Those files are stored in `/Android/data/org.y20k.transistor/files/Collection`. But that should

[2019-11-01 20:49] tingsu commented on #234
Any plan to fix this issue :) ? Really hope to see this functioality can be corrected.

[2019-11-01 22:04] y20k commented on #234
Sure this needs to be fixed. You need to  be aware that Transistor is a hobby project that I am working on in my free time, which is rare at the moment. Additionally the bug seems also be a result of the architectural problems the apps has (mentioned in another recent issue). So.. I plan to fix the problem. But probably not as soon as you probably would like :grin:

[2019-11-02 12:20] tingsu commented on #234
Thanks, totally understand what you said :)

[2019-11-13 11:49] tingsu opened #239 "cannot delete a radio program"
- I have searched the history issue list, and have not found similar issues.

- The issue was found in the latest version 3.2.2 in the master (also exists in the latest released version on Google Play). The issue were reproduciable on both a Google Plxel 3 and an Android emulator 6.0 device.

- Reproduction steps:

1. Start a radio program, e.g., ``212-hi-mp3`` in my case

2. Rename the program, e

[2019-11-19 20:46] e-lime opened #240 "Allow streams with .m3u8 extension"
Steams ending with the .m3u8 extension cannot be added because the extension is unknown by Transistor. See for example https://d34pj260kw1xmk.cloudfront.net/live/l1/radio/index.m3u8 which is a playable stream with mimetype application/x-mpegurl.

[2019-11-20 14:05] tingsu commented on #239
Hi @y20k , can I know whether this is an issue?

[2019-11-20 17:23] y20k commented on #239
This is another one of those issues related to the way Transistor handles stations internally. You found a bunch of those. All of them are not trivial to fix. I am in the process or rewriting one of my other apps (Trackbook) from scratch right now. This is quite time consuming. I will do that eventually with Transistor, too. I do not intent to fix this issue right now. Without a rewrite this would

[2019-11-20 21:39] tingsu commented on #239
Thanks for your reply. I understand. That's fine. Trackbook looks a nice app. I also note you are developing Escapepod. You are really productive to lead these projects at the same time :)  I may look into these two new apps, and see whether I can contribute something.

[2019-11-22 15:32] y20k commented on #240
Hi @e-lime

Thank you for reporting this issue. Transistor performs a mime-type check before it proceeds to add a station from the internet. The stream you were trying to add is a HLS stream (`application/vnd.apple.mpegurl`). It wrongly advertises itself though as `application/x-mpegurl`. Both mime-types are generally supported, although there have been some instances of HLS streams that refusd to

[2019-12-18 10:04] e-lime commented on #240
Thanks for yout response! I am trying both solutions. Number 2 already works good :)

[2019-12-18 22:17] #240 closed

[2019-12-22 06:19] nepsalone opened #241 "SHOUTCAST Serer v1.9.8 Stream error"
unable to stream this link SHOUTCAST Serer v1.9.8 Stream
[http://streaming.hamropatro.com:8399/;]http://streaming.hamropatro.com:8399/;(url)
SHOUTCAST Serer v2.5 working fine
Unable to connect.Device dose not have internet connection
**Stream may be outdated**

[2020-01-02 14:03] y20k commented on #241
Hi @nepsalone,
sorry for the late answer. I was AFK.

I tried to add

- `http://streaming.hamropatro.com:8399/;`
- `http://streaming.hamropatro.com:8399/`
- `http://streaming.hamropatro.com:8399`

... all three worked. Are you still experiencing this issue?

[2020-01-03 01:10] xeals opened #242 "Support HTML-encoded unicode characters in metadata"
Thank you for your work on transistor! It's fantastic having an open-source radio aggregator.

I've added a Japanese pop station ([LISTEN.moe](https://listen.moe)) and am having some issues with fetching metadata.

The docs for the stream claim the Vorbis stream ([link](https://listen.moe/stream)) sends metadata but if it is, transistor isn't picking it up. That aside, the fallback MP3 stream ([li

[2020-01-03 15:24] y20k commented on #242
Hi @xeals,

thanks for the bug report! Transistor currently does not support Ogg metadata (see #222). But there maybe a simple fix for the HTML formatted metadata in the fallback stream you mentioned - see [commit](https://github.com/y20k/transistor/commit/58fd483fbf32fc57c623709f0eb3c0bb90310f83).

If you are interested to test this, here is a signed APK:
- [transistor-app-testing-3.2.3-002.apk](

[2020-01-05 09:05] nepsalone commented on #241
still face same problem in Kitkat devices

[2020-01-07 16:04] y20k commented on #241
You are right. I get the same error message, when I try to add this link on Android 4.4. A quick peek in the error logs show the following message: `java.net.ProtocolException: Unexpected status line: ICY 200 OK`.

And googling the error brought me to this post: https://stackoverflow.com/a/22019479

It seems that the streams sends a non-standard header. A possible solution described in the post wo

[2020-01-17 20:16] Bolsderac commented on #237
Hi, more generally, transistor application crashes as soon as another application tries to start or automatically (via bluetooth connection)

[2020-01-20 14:48] y20k commented on #237
Hi @Bolsderac Have you tried the testing APK above? I have not published the v3.2.3. Maybe I should. It has been a while :-)

[2020-01-20 16:52] Bolsderac commented on #237
Hi, yes, this the version i installed since you publish it on github. Arnaud

Le lun. 20 janv. 2020 à 15:48, y20k <notifications@github.com> a écrit :

[2020-01-20 16:56] y20k commented on #237
And the app **still** crashes, when following the steps I listed above? Or is there now a new set of steps I need to take to re-create the crash?

[2020-01-20 16:59] Bolsderac commented on #237
I test again and come back to you

Le lun. 20 janv. 2020 à 17:56, y20k <notifications@github.com> a écrit :

[2020-01-25 17:52] Bolsderac commented on #237
Hi, it's not really a crash. Transistor app is stopped by Android auto user closing. Other music app continue playing.

[2020-02-05 03:44] 11fen opened #244 "Functional requirements: I want to support podcast addresses. E.g: https://rsshub.app/ximalaya/album/347423/"
Functional requirements: I want to support podcast addresses. E.g:

https://rsshub.app/ximalaya/album/347423/

[2020-02-05 14:10] y20k commented on #244
I am not sure what exactly you where envisioning? Could you please explain your idea a bit?

[2020-02-10 13:33] y20k commented on #242
The mentioned commit is part of the latest release

[2020-02-10 13:33] #242 closed

[2020-02-10 14:46] y20k opened #245 "Indonesian Language and Legacy Language Code"
Picking up the recent discussion regarding new language commit (https://github.com/y20k/transistor/commit/7e83bb559049742ff84083716515bdeef13c8634) ...

There is a problem with the workflow between Weblate and Android Studio when it comes to languages that have two language code - such as the Indonesian language ("id" and "in"). See also:
https://developer.android.com/reference/java/util/Locale#le

[2020-02-10 14:48] y20k commented on #245
@zmni @comradekingu - I moved the [discussion](https://github.com/y20k/transistor/commit/7e83bb559049742ff84083716515bdeef13c8634) over to this **Issue** here, to better keep track of it.

[2020-02-12 10:05] zmni commented on #245
For Indonesian language, I think it is safe to omit `id` from the source entirely as AOSP apps also only use `in` in their sources [[1]][[2]][[3]]. Or maybe you can try use a symlink [like f-droid did][3] (I'm not developer, I don't know how this symlink thing actually work, just pass on info on how other devs handle this issue.).

[1]: https://android.googlesource.com/platform/packages/apps/Calen

[2020-02-15 23:43] Martinique opened #247 "HTTP redirects in stream URLs don't work"
When radio stations change their streaming services, they often use HTTP redirects to automatically send clients to new playlist addresses. Unfortunately Transistor doesn't seem to understand them and says "Unable to connect. Device does not have an internet connection or stream may be outdated." This also prevents using URL shorteners.

It's not a showstopper issue, because one can always see the

[2020-02-17 11:29] maszek commented on #164
I am using Transistor on Android 9 Pie and I am also experiencing this problem. The app appears to store renamed **names** and **icons** only occasionally after a couple of attempts. I don't know how to do it right.
Changing the names and icons of the stations is quite important because it will help me identify the stations I've stored, which I cannot do by partial URL such as: http://www.radio-br

[2020-02-17 13:15] grrosminet commented on #227
Hi

I  have a simple BT connection on my car and have the same problem. I have found how to fix it, but there are some points that needs to be changed in my solution.

[my patch](https://github.com/grrosminet/transistor/commit/d4e6ead1a2cf6a6bddc311b6d8adbad73113b310)

Explanation :
- the essential of the patch is the overriding of  onMediaButtonEvent . As I don't have AndroidAuto, I have not test

[2020-02-17 14:05] grrosminet commented on #227
I didn't mention : this also fix prev/next buttons in the lockscreen media player widget (when misic is playing and you swipe the clock)

[2020-02-17 20:01] jamal2362 commented on #227
Hi,
Is it only working on the lockscreen widget ?

[2020-02-17 21:02] grrosminet commented on #227
Hi,
In my case, this patch makes prev/next work with BT headset, with BT car and with lockscreen widget. But there is a lot of testing to do before it can be provided in production release

[2020-02-17 21:57] jamal2362 commented on #227
I have compiled the app with your fix and it's working fine now on my (MTCE) Head Unit.
My CanBus decoder on my car reconize it correctly now and prev/next works now and on BT too.

and i have test it with the Terminal App from the Play Store and trigger the keyevent with this code:
"KEYCODE_MEDIA_PLAY_PAUSE" --> input keyevent 85
"KEYCODE_MEDIA_STOP" --> input keyevent 86
"KEYCODE_MEDIA_NEXT" -->

[2020-02-19 13:38] y20k commented on #247
Thanks!!! You are right the current solution only follows one redirects. I have adapted the connection code to follow up to five redirects.

[2020-02-20 21:22] Martinique commented on #247
That's great!

Another issue with redirects is the automatic icon finding, because the correct one may be in any of the hosts that the redirects go through, most likely the first or the last. Personally I don't care about icons, though.

[2020-02-21 10:13] y20k commented on #247
Playback does not work for me at the moment for the example station. The DataSource needs to to support redirects, too. I will have a look into this. https://stackoverflow.com/questions/41517440/exoplayer2-how-can-i-make-a-http-301-redirect-work

[2020-03-03 14:05] tingsu opened #249 "the label of player_station_metadata fails to update when the station name was changed (fail to sync?)"
- I have searched the history issue list, and have not found similar issues.

- The issue was found in the latest release version 3.2.4 from Google Play (also exists in the latest master), and were reproduciable on both a Google Plxel 3 and an Android emulator 6.0 device.

- Bug description
When a station is playing, the label of player_station_metadata (a line of small text, locating underneath t

[2020-03-10 07:27] naitsirch commented on #241
Shoutcast headers cannot be changed and v1.x does not support proxies that might be used as a frontend to response with the correct headers.

[2020-03-11 09:25] y20k commented on #249
Hi @tingsu,

sorry for answering so late. I was pretty busy at work.

Thank you for this perfect bug report. The root cause for this bug is the same as the one behind the bugs you reported earlier (#234, #236, #239): Transistor has  problems with manipulating stations (rename, delete) while playback is running. This is due to the way Transistor stores its list of radio stations.

I am currently re

[2020-03-11 09:50] y20k opened #251 "Kotlin-Rewrite"
Back in 2015 Transistor was the first Android app, I have ever developed. Looking at the "architecture" and code this shows: Some bugs are hard to fix without resorting to hacks or without rewriting whole parts of the app.

That is why I decided to rewrite the whole app from scratch. I just recently rewrote one of my other apps ([Trackbook](https://github.com/y20k/trackbook/issues/66)) in Kotlin,

[2020-03-11 11:21] tingsu commented on #249
Thanks for your reply and confirmation @y20k . You plan sounds great! I will continue to contribute testing your brand-new version when it is released. I am hoping to make these apps better :)

[2020-03-25 12:35] voipworld opened #252 "storage permition request not shown?"
hey developers,
 i downloaded transistor from playstore, then built it using android studio also, getting source from github.
i listened to my prefaired stations, working perfectly and smoothly
but, it didnt save it, till i go to settings & apps & permitions and enable all perms for transistor.
why the transistor app dont ask for the permition up on adding a channel?

[2020-03-25 15:16] y20k commented on #252
Transistor does not need this Storage permission to save stations. Stations are stored in the app's own directory (`/Android/data/org.y20k.transistor/files/Collection`). Hope that answers your question.

Storage permission is only required, if you want to change the image of a station, or if you want to open an m3u station file that sits - for example - in the Downloads folder.

[2020-04-03 16:09] SebiderSushi opened #253 "[Feature] Remote Playlists"
As it seems, Transistor is downloading/extracting the playlist if given an .m3u8 file URL.

As the purpose of these playlists is to provide a stable link to a resource while its content might change at any time, the desired behavior here could be to just save the playlist link instead of fetching its content at just one point in time.

[2020-04-14 18:12] franklinbill opened #254 "A Display Bug"
Dear developer
In the process of using, I found a bug in layout / display. As shown in the figure, the bottom part of the text "on a velvet afternoon" at the bottom of the home page is blocked, which may be an adaptation problem.
App version is 3.2.4, my mobile phone is Google nexus 6, screen resolution setting is 1440 * 2560, font size is the largest, Android system is 8.0.
The above is a descrip

[2020-04-20 18:31] tingsu commented on #251
Are there any new update on this Kotlin rewrite? Hoping to see the new app :)

[2020-04-21 16:19] y20k commented on #251
As of today some new and working code is here on GitHub. See: [commit](https://github.com/y20k/transistor/commit/198ef828f9ae9e5b51a70ed4ab5ca03b21daeba5)

[2020-04-21 16:42] y20k commented on #251
As of today some new and working code is here on GitHub. See: [commit](https://github.com/y20k/transistor/commit/198ef828f9ae9e5b51a70ed4ab5ca03b21daeba5)

[2020-04-22 10:11] oraluben commented on #249
Hi @y20k , thanks to your Kotlin rewrite, we've confirmed #234, #236, #239 have been fixed! You should close those issues. And while this one seems remaining, could you please take a look again? Thanks!

[2020-04-22 10:23] tingsu commented on #249
Hi @y20k , we also checked #235, which was now also fixed in this Kotlin rewrite. Nice! Although at that time you think fixing this issue may need rewriting the architecture.

[2020-04-22 19:10] y20k commented on #249
Hi @tingsu & @oraluben , thanks for your tests!

Please consider that the code I uploaded yesterday does not have release quality yet. I think a real first release will have to wait until the summer. The app still has a lot of little papercuts. Anyway. Given all that, I am really pleased that some issues are already solved!

In the past I did only close issues, that are fixed in a stable release v

[2020-04-22 20:00] y20k commented on #249
Most changes happened "under the hood". For example: Transistor does not store each radio station in a m3u playlist file. Instead it writes all stations to single collection file. That change allowed me to store additional meta information for each station, which in turn enables things like updating stations, marking stations as starred. So really a lot did change, but most of it is not visible. B

[2020-04-22 21:02] tingsu commented on #249
Thanks for your positive feedback and efforts on the rewriting. Yeah, your adjustments on the architecutre/design ease the bug fixing. If you do not bother, we will close the issue  #234, #236, #239?

[2020-04-23 19:18] y20k commented on #254
Hi @franklinbill Thanks for reporting this bug. I am trying to reproduce the problem. Do you have somehow changed the font size settings?

[2020-04-23 19:26] y20k commented on #253
The upcoming version has also a new data structure that allows updating a station. Basically the app remembers the m3u/pls url (or the radio-browser.info uuid), that was used to add it to Transistor.

The new datastructure can be found here: [Station.kt](https://github.com/y20k/transistor/blob/198ef828f9ae9e5b51a70ed4ab5ca03b21daeba5/app/src/main/java/org/y20k/transistor/core/Station.kt)

It may t

[2020-04-24 07:48] tingsu commented on #249
Thanks for your reply. I would like to close these issues  (#234, #236, #239) and will leave a reminder there. I will keep this issue open so that we can still refer to these temporarily closed issues.

[2020-04-24 07:49] tingsu commented on #234
This issue was already fixed by the latest master, but the latest Google Play version (v3.2.4) still has this bug (the apk will be updated later).

[2020-04-24 07:49] #234 closed

[2020-04-24 07:49] tingsu commented on #239
This issue was already fixed by the latest master, but the latest Google Play version (v3.2.4) still has this bug (the apk will be updated later).

[2020-04-24 07:49] #239 closed

[2020-04-24 07:49] tingsu commented on #236
This issue was already fixed by the latest master, but the latest Google Play version (v3.2.4) still has this bug (the apk will be updated later).

[2020-04-24 07:49] #236 closed

[2020-05-02 20:00] y20k commented on #254
found the bug ==> see [commit](https://github.com/y20k/transistor/commit/301fc54c1065f468eb5699b20de7a1c313bd850d#diff-6caa92f7635a2d7325dc3de65a3b26bc)

[2020-05-04 07:38] Bullenwaechter opened #255 "Fetature request: Organising stations by Labels"
Hi there
Thanks for your great work and this really fine app.
A possibility to organise stations by lables would possibliy be a upgrade for Transistor app.
For example to sort the stations per genres or personal notes such as: Metal, or ProgRock, Pop or ....

This is one of the view features I really miss on Transistor so far....

[2020-05-06 15:53] mmmmna commented on #164
I've seen similar problems. LG VK815 tablet without cell connections (only using WiFi). Tablet has Android 6, and it is cluttered with remnants of maybe 4 dozen uninstalled apps.
I create a new station, press play, title of station becomes 'listen'.
While playing, it is listed in the tray on the bottom of your app, as 'listen'.
Pull up the bottom tray.
Press the 3 dots, chose rename.
Switch to web

[2020-05-07 02:21] mmmmna commented on #164
Ok, update for my input... Very consistently failed to update the station name while the station was playing. I then stopped playing the station and once more renamed the station, this time the change held.

Otherwise, I like simple. This is. 😁

[2020-05-08 09:45] tiborroald opened #256 "Feature: autostart a station + auto reconnect"
I would want, please, to have the app to:
 - to connect automatically at startup to a predefined stream (radio station)
 - to have an option to indifenitelly reconnect if network is temporarly down

[2020-05-08 15:16] tiborroald commented on #251
Can  you share the build environment? I cannot get to the point to build it in an usable form. I have a device with Android 6.0 (API 23).
To have it successfully build I had to disable lint.
 ./gradlew --stacktrace build

But it fail during APK install. Yeah, is generic ("APK not installed")

[2020-05-08 15:48] urayoanm commented on #251
Hello. I think your problem is the minSdk in the build grade config. The new version requires API 25

[2020-05-08 18:46] y20k commented on #256
Hi there,

I am not planning to implement an autostart feature. Transistor is a very lean app and I want to keep it simple. But. The app lets you create shortcuts for radio station on your home screen. That should do the trick for you.

And your second request: Can you describe the problem? Does the apps state switch back from "playing" to "stopped" during network outages? I am using the app only

[2020-05-08 18:58] y20k commented on #255
Hi.

I am currently rewriting the app from scratch (see #251). The new version of Transistor will have a couple (but not many) interface enhancements, that I think are still within the spirit of the app. The only planned feature that would help with organizing your radio station list will be: You can favorite a station.

Your suggestion would go further: An an open/user-defined tagging system... I

[2020-05-08 19:01] #255 closed

[2020-05-08 19:02] #252 closed

[2020-05-08 19:06] y20k commented on #164
@mmmmna I am currently re-writing the whole app (see #251). The display bugs should be fixed as soon as it is released - which still may take some time - they say that the last 5% of a project like this take the longest. :-)

[2020-05-11 10:42] tiborroald commented on #256
Hello y20k,

- I'm using "Auto Start" (AutoStart No root_v2.2.apk) app that only start apps and NOT shortcuts. That's the reason to add that option.  If you help me a bit how you
setup up your build environment ... I may start to contribute

- The network drops it's fact of life, you know. If you add reconnect feature then it will behave more like a real radio. Even if transmission stop, the radio

[2020-05-11 10:55] tiborroald commented on #256
I've searched a bit for other autostart apps and no one is starting home screen shortcuts

[2020-05-11 11:06] tiborroald opened #257 "Docu: setup build environment"
Please put a minimal set of instruction to setup the build environment.
Something like.
git clone ...
export ANDROID_SDK_ROOT=$HOME/Library/Android
chmod +x ./gradlew
./gradlew build

Anyway I've installed SDK:
$HOME/Android/tools/bin/sdkmanager  --sdk_root=$HOME/Library/Android  --install 'platforms;android-23'

But:
 - lint complain about translations
 - lint complain about API calls not in API

[2020-05-11 11:12] tiborroald commented on #251
I hacked the app/build.gradle to have it compiled and also an installable APK on Android 6.0

    defaultConfig {
        applicationId 'org.y20k.transistor'
        minSdkVersion 23
        targetSdkVersion 23
        versionCode 72
        versionName '4.0.0'
        resConfigs "en"
    }

[2020-05-11 12:03] y20k commented on #256
There might be another way. If the autostart app supports Intents and Intent Extras you should be able to start Transistor and pass the station information via Intent.

You can start the app using the following parameters
- Intent Action: `org.y20k.transistor.action.START_PLAYER_SERVICE`
- Intent Extra: `START_LAST_PLAYED_STATION` = true

If you want to start a certain station, it becomes **more**

[2020-05-11 12:07] tiborroald commented on #257
Very interesting! The APK was installed over USB (via adb)

[2020-05-11 12:10] y20k commented on #257
Actually I am always just building the app using Android Studio. I do not feel competent enough to put up instructions :-/ I thought once one knows how to compile one Android project, it should be the same for any other app.

The app has been developed under the assumption `minSdkVersion 25`. Maybe you trying to compile it for older devices makes it more complicated.

[2020-05-11 12:13] y20k commented on #251
:+1: It is maybe better to just change `minSdkVersion` if you are experimenting with older Android versions.

[2020-05-11 12:43] y20k commented on #256
There is kind of documentation for older versions of Transistor over in the [Wiki](https://github.com/y20k/transistor/wiki).

I will need to update this for the upcoming version 4. The adb-commands for version 4 are / will be:

**Start last station**
`./adb shell am start -n "org.y20k.transistor/org.y20k.transistor.MainActivity" -a "org.y20k.transistor.action.START_PLAYER_SERVICE" --ez "START_LAST

[2020-05-11 12:58] tiborroald commented on #256
The "Auto Start" app has no idea of intent. When you're offered to select what to start it only shows apps and nothing more.

At first we may add in core/Station.kt:
data class Station (@Expose val uuid: String = UUID.randomUUID().toString(),
                    @Expose var autostart: Boolean = false,
                    @Expose var starred: Boolean = false,

    fun deepCopy(): Station {

[2020-05-11 12:59] tiborroald commented on #256
And do similar copy&paste function for:
   private fun setStarredIcon(stationViewHolder: StationViewHolder, station: Station) {
to
   private fun setAutostartIcon(stationViewHolder: StationViewHolder, station: Station) {

[2020-05-11 13:02] tiborroald commented on #256
From UI programming perspective I think will not be to hard.
Yes, I know all station can be potentially "autostartable" so the option should be like a radiobutton. But, as an ugly hack, you may start first one found.

Because I don't know Kotlin, it will be hard for me to write glue logic to
modify Transistor startup code that will allow selected station autostart.

[2020-05-11 13:05] tiborroald commented on #256
Ah, I found in your patch https://github.com/y20k/transistor/commit/6b605f9861c1c8fa58cef0891fd10bb30261906b

The MediaControllerCompat.getMediaController(activity as Activity).transportControls.playFromMediaId(uuid, null) I think just can be added
at startup after checking what is the first station in collection with autostart == True,
then get uuid, then start the playFromMediaId()

Is that a ma

[2020-05-11 13:08] tiborroald commented on #257
Thanks for the help! Anyway, avoiding lint was the workaround.
And using midSdk = 23 + targetSdk=23

[2020-05-11 13:31] y20k commented on #257
I also got a lint error. But only when I created a signed built of the type release. The error was caused by a string, that was translated, even though it was not present in the default language. I deleted this string (see [commit](https://github.com/y20k/transistor/commit/9a0bafe8c3d9f859ecefd56996b142a40c88827b)).

If that was the error you got, you can leave the lint check turned on in the futu

[2020-05-11 13:42] y20k commented on #251
If anyone is interested: Here is an early test built of the upcoming Transistor version. Remember not all features of the previous versions are implemented yet. The app is stable for me. I am already running it as my main radio app on my phone.

**Please note:** Before you install the test APK, please make a copy of your radio station collection. Backup the contents of this folder:
`/Android/data/

[2020-05-11 13:53] y20k commented on #256
Sorry to disappoint. But I will probably not add a special autostart option in the UI as said earlier. It is too much of a special interest feature. I think you need to check out apps like [Tasker](https://tasker.joaoapps.com/) (or free alternatives) that support starting apps via Intent. Again sorry.

I intent to work on the second feature request though: Improve the reconnect behavior.

[2020-05-11 13:59] tingsu commented on #251
Thanks @y20k ! The new version looks good! It seems everything works perfect. I checked one previous issue #249, which was reported byme. That issue still exist...  waiting to be fixed :)

[2020-05-11 14:06] tiborroald commented on #256
OK. Good with Tasker. Forgot about it.

[2020-05-11 14:15] tiborroald opened #258 "Bug: Add http:// station stream - mission impossible"
On the add station dialog when you enter http, then imediatelly the keyboard close.
Add ":", again close. Add "//" and then the dialog close alltogether.

Probably because it combine a search dialog with add stream entry line.

[2020-05-11 14:17] tiborroald opened #259 "Bug: lost collection after app remove"
When you remove the app, the collection is also
lost.   So if you by mistake install app, then you need
to redo all your configuration work.

[2020-05-11 14:36] tiborroald commented on #256
Is the STATION_UUID or EXTRA_STATION_UUID?

Tasker will start the Player, but not play the stream:

            if (intent.hasExtra(Keys.EXTRA_STATION_UUID)) {
                // start station with uuid from intent
                startIntent.putExtra(Keys.EXTRA_STATION_UUID, intent.getStringExtra(Keys.EXTRA_STATION_UUID))
            }

[2020-05-11 14:44] y20k commented on #258
Hi @tiborroald,
Thanks for pointing out that bug. I originally added the hide keyboard feature assuming the user would use copy&paste to add whole stream URLs. But given your description I think it is necessary to disable the feature.

[2020-05-11 14:44] tiborroald commented on #259
Probably because of my custom build?

[2020-05-11 14:51] y20k commented on #259
Transistor stores its stations in an app specific directory (/Android/data/org.y20k.transistor/) that gets removed when the app gets uninstalled. This is actually pretty common - maybe not for traditional music players, though. Anyway. To be able to survive an un/re-install Transistor would need to ask for Storage permissions and store stations in a system-wide readable folder. I do not want to do

[2020-05-11 14:51] #259 closed

[2020-05-11 14:52] y20k commented on #256
`STATION_UUID` :+1:

[2020-05-11 15:13] tiborroald commented on #256
Thanks!
In Tasker I have DATA field. But I cannot find any formating rule.
Seems to be a free form field.
Is Ok the following format?

STATION_UUID=ceb453b6-b568-4f94-a894-965c1a90b7c6

[2020-05-11 15:18] tiborroald commented on #251
pkg: /data/local/tmp/transistor-app-testing-4.0.0-001.apk
Failure [INSTALL_FAILED_OLDER_SDK]

Do you plan to have a release  for Android 6.0?
The 3.2.4 release still works on my old tablet.

[2020-05-11 15:23] tingsu commented on #251
I checked with the new apk, which works on Android 25 above. Yes, it would be good if it can still work on Android 6.0. Maybe @y20k has some consideration here. Not sure ...

[2020-05-11 15:34] y20k commented on #256
I actually haven't used Tasker in a while. I found two links that might help you getting started.

https://forum.xda-developers.com/showthread.php?t=2489449
https://tasker.joaoapps.com/userguide/en/intents.html
(STATION_UUID internally is a String-Extra)

[2020-05-11 15:55] y20k commented on #251
I currently do not plan to support Android versions older than 7.1. I had this discussion a couple of times in other circumstances before - [here](https://github.com/y20k/transistor/issues/38) and [here](https://github.com/y20k/escapepod/issues/2) for example.

There are always older devices out there. My reasoning basically is:
- I am a hobby developer with very few time to spare
- I am maintaini

[2020-05-11 16:00] y20k commented on #258
bug should be fixed

[2020-05-11 16:00] #258 closed

[2020-05-11 16:02] y20k commented on #258
I am not sure on how to handle bugs in the unreleased version 4 of Transistor. The current codebase app is probably full of papercuts like this.

[2020-05-12 06:43] tiborroald commented on #256
I tried to start from adb:
adb shell am start "org.y20k.transistor/org.y20k.transistor.PlayerServiceStarterActivity" -a "org.y20k.transistor.action.START_PLAYER_SERVICE" --es "STATION_UUID" "bc0b4dbd-67a1-4754-897b-68f90731733c"

But is not working.

Start, but not play.

... ,"uuid":"bc0b4dbd-67a1-4754-897b-68f90731733c"}],"version":0

[2020-05-12 07:03] tiborroald commented on #256
Anyway the workflow is awkard. If you want to use Tasker to automate:
1. Add station
2. Connect you device to USB
3. Go to shell with adb
4. cat the collection
5. Search by hand or with grep or better copy & paste to search in a decent editor with JSON formatter
6. Write down to paper the UUID
7. Manually enter it in Tasker... and hope for no mistake in typing.

I would suggest:
 - make it a label

[2020-05-12 07:26] #257 closed

[2020-05-12 09:28] JonnyTech opened #260 "Station is not valid"
Trying the new v4 test. Manually copy/pasting stations from old format. But most show `Station is not valid` upon import. Is there a specific format that should be used?

[2020-05-12 15:49] mmmmna commented on #164
Thank YOU!!

[2020-05-12 19:36] y20k commented on #260
Hi @JonnyTech

Transistor should auto-import old stations - in theory. In practice one condition needs to be met: The old and the new Transistor need to be signed with the same certificate. In that case the app installs as update rather than a new app. The F-Droid version is signed with the F-Droid certificate, the one from GitHub (and PlayStore) is signed with my certificate. So for an update ins

[2020-05-12 19:40] y20k commented on #256
I agree. The old workflow (as seen in the [Wiki](https://github.com/y20k/transistor/wiki)) is easier. You just needed the stream URL, which you can copy to the clipboard. I probably should add this feature, too.

[2020-05-12 22:06] JonnyTech commented on #260
Thanks for the reply @y20k. Yes, I am coming from a f-droid build and had backed-up and restored the `Collection` folder as a matter of course in order to get your self built version installed.

A couple of points to note. Transistor v3's folder was named `Collection` whereas v4 uses `collection` (note the capitalisation). When launching v4 it would wipe out the v3 folder and replace it with a new

[2020-05-13 07:21] y20k commented on #260
@JonnyTech

**# auto-import**
I actually until now never did a real world test of this feature yet. To my defense :smiley: the app is not release ready. Anyway. Thanks to your feedback :+1: I now know what to test for. You are probably right the different spelling of collection might be the problem here.

**# station not valid**
Not all audio formats that v3 supports are supported in v4 yet. Your

[2020-05-13 14:52] y20k commented on #251
**New APK**
... based on code up to and including the commit [3729728](https://github.com/y20k/transistor/tree/37297280e0a0b42fcb8f08a1518e70dcb10a583a)

- [transistor-app-testing-4.0.0-002.apk](https://drive.google.com/open?id=1TOK8vieXv8XArrKxI7CXVHdCh1qbmY_9)

[2020-05-13 14:57] y20k commented on #256
I enabled starting playback of a station via a `STREAM_URI` Extra.

**Usage:**
`./adb shell am start -n "org.y20k.transistor/org.y20k.transistor.MainActivity" -a "org.y20k.transistor.action.START_PLAYER_SERVICE" --es "STREAM_URI" "http://yourstationstre.am"`

Check out the latest [APK](https://github.com/y20k/transistor/issues/251#issuecomment-628044176), if you are interested.

[2020-05-13 14:59] tingsu commented on #251
Can you also fix the issue #249 in the next version ? It was still there in this new version.

[2020-05-13 15:07] y20k commented on #260
After reviewing my own code, I remembered: The code, that I was using in the Import routine, was just a test to see, if I can read in old stations. It did not really import any stations at all.

So now I completed the import routine. And the above described steps actually work.

1. save the contents of the folder `/Android/data/org.y20k.transistor/files/Collection`
2. install the latest [GitHub re

[2020-05-13 15:12] y20k commented on #251
The app is still full of papercut bugs like #249. 249 will definitely be fixed before the official release of the app. Cannot give any promises beyond that :smiley:

[2020-05-13 18:43] JonnyTech commented on #260
Superb, the import now works! Thank you. No need to apologise, it is beta and I am happy to help provide feedback.

Some `.aac` streams now work, some do not although they are listed. I assume they are `hls`, an example is `https://ais.absoluteradio.co.uk/absoluteradiomed.aac`. Is there a way to check what type it is?

[2020-05-13 20:43] y20k commented on #251
:facepalm: I just found out that the APKs, I had published earlier, had a bug: Station search was broken (it worked in debug builds). So here is another APK. Since I am not planning to work on Transistor in the next couple of days, I hope its the last one for I while. (I am actually on vacation.)

**New APK**
... based on code up to and including the commit [5856f98](https://github.com/y20k/transi

[2020-05-14 07:50] tiborroald commented on #256
I have my build locally for API23. Thanks!
Updated and recompiled. But... it's not working. Start the player, but not the stream.

I use something like:
adb shell am start "org.y20k.transistor/org.y20k.transistor.PlayerServiceStarterActivity" -a "org.y20k.transistor.action.START_PLAYER_SERVICE" --es "STREAM_URI" "https://myhost.mydomain:8000/stream64"

How can I enable logging for the app?
I have

[2020-05-14 07:59] tiborroald commented on #256
Working! I was not pay attention. Copy&paste error. Used PlayerServiceStarterActivity instead of MainActivity

[2020-05-14 09:09] tiborroald commented on #256
It works from adb, but from Tasker Send Intent.

I had a look in AndroidManifest.xml and seems that MainActivity will not receive org.y20k.transistor.action.START_PLAYER_SERVICE.

Am I wrong?

[2020-05-14 09:26] y20k commented on #256
nope. you are correct. the entry was missing. we are finally getting here. thank you!!!

[2020-05-14 09:27] tiborroald opened #261 "Bug: STREAM_URI - Player not started if already in front"
Starting

adb shell am start -n "org.y20k.transistor/org.y20k.transistor.MainActivity" -a "org.y20k.transistor.action.START_PLAYER_SERVICE" --es "STREAM_URI" "https://myhost.mydomain:8000/stream64"

If Transistor is already in front, then running intent will not start the player.

If Transistor app is stopped, then it will work.

[2020-05-14 09:33] y20k commented on #261
for me it seems to work. not sure if the added intent-filter (see #256) helped.

[2020-05-14 09:44] tiborroald commented on #256
I've ran a git pull but I don't see your change

[2020-05-14 09:51] tiborroald commented on #256
I see it. Recompiled. But not working!
Test:
1. Stopped the stream
2. Switched to Tasker and launched Send Intent
3. Transistor was brought to front, but stream was not started.

Note: If Transistor is removed from tasks, then when started, the play will start

[2020-05-14 09:54] y20k commented on #256
I did not test this issue using Tasker. the adb command works for me though. Same for you?

[2020-05-14 09:56] tiborroald commented on #256
Even with adb will not work. Probably an error in code logic.

[2020-05-14 09:59] y20k commented on #256
`adb shell am start -n "org.y20k.transistor/org.y20k.transistor.MainActivity" -a "org.y20k.transistor.action.START_PLAYER_SERVICE" --es "STREAM_URI" "https://xyz"`
is the command I am using. And it starts playback regardless if Transistor is in the background, in the background or not active at all.

[2020-05-14 10:03] tiborroald commented on #256
How can I activate logging mode for app? I want to put some message to track activities

[2020-05-14 10:12] y20k commented on #256
I am using the LogHelper class to add log entries ([example](https://github.com/y20k/transistor/blob/1373e62d0a2117a4646c898b2bb01c35ca82cb41/app/src/main/java/org/y20k/transistor/Transistor.kt#L44)). Log entries can be viewed via logcat ([1](https://developer.android.com/studio/debug/am-logcat)) ([2](https://developer.android.com/studio/command-line/logcat)) afterwards.

[2020-05-14 12:18] tiborroald commented on #256
After tablet reboot, the Sent Intent will not work.

05-14 15:09:50.713   791  1598 I ActivityManager: START u0 {act=org.y20k.transistor.action.START_PLAYER_SERVICE flg=0x30800004 cmp=org.y20k.transistor/.MainActivity (has extras)} from uid 10110 from pid 1889 on display 0
05-14 15:09:51.148  2490  2490 D transistor_PlayerService: Starting Playback. Station: https://myhost.mydomain:8000/stream64.

[2020-05-14 12:49] tiborroald commented on #256
After the Transistor app is started, the intent is handled by handleStartIntent() in PlayerFragment.

But the when() { ... } will not have something that will handle Keys.ACTION_START_PLAYER_SERVICE -> handleStartPlayer()

[2020-05-14 12:51] y20k commented on #256
I am looking into it. I now can reproduce the problem.

[2020-05-14 13:07] y20k commented on #256
Mmmh. Actually it turned out that I still can not reproduce the problem :-/ I thought I could ... then I found out that I tried to start a station that was not exactly the station in my station list (slightly different stream URL).

The command
`adb shell am start -n "org.y20k.transistor/org.y20k.transistor.MainActivity" -a "org.y20k.transistor.action.START_PLAYER_SERVICE" --es "STREAM_URI" "https

[2020-05-14 13:09] tiborroald commented on #256
Here is an logcat.
https://pastebin.com/piai6Rc0

[2020-05-14 13:12] tiborroald commented on #256
And this is modified code to handle my extended logging: https://pastebin.com/g5K6LVWX

[2020-05-14 13:27] y20k commented on #256
Can you put the following in the else branch

`LogHelper.d(TAG, "Number of intent extras ${intent.extras?.size()}")`

Do you have more than 0 Extras?